bbl_flows.json
[
    {
        "id": "94ee4800.b63ff8",
        "type": "tab",
        "label": "CI Server Types"
    },
    {
        "id": "4cc0e4ce.67e46c",
        "type": "tab",
        "label": "Patterns"
    },
    {
        "id": "7eb46653.6ccb18",
        "type": "tab",
        "label": "Server Registry"
    },
    {
        "id": "ffd18aea.469058",
        "type": "tab",
        "label": "Pipeline Registry"
    },
    {
        "id": "d0a3b329.d2df1",
        "type": "tab",
        "label": "Device Registry"
    },
    {
        "id": "afcdb9fe.f99d18",
        "type": "tab",
        "label": "Static Web"
    },
    {
        "id": "9452f842.635e38",
        "type": "tab",
        "label": "Build Response Parser and Message Sender"
    },
    {
        "id": "5914c4a1.24372c",
        "type": "tab",
        "label": "Firmware"
    },
    {
        "id": "4a2392dc.8b20fc",
        "type": "websocket-listener",
        "z": "afcdb9fe.f99d18",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "b96c06bc.c67428",
        "type": "tls-config",
        "z": "afcdb9fe.f99d18",
        "name": "NBN certificate",
        "cert": "./certificates/certificate.pem",
        "key": "./certificates/privatekey.pem",
        "ca": "",
        "verifyservercert": false
    },
    {
        "id": "e2692e86.5cfdf",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6ab7cac6.de42f4",
        "type": "MySQLdatabase",
        "z": "",
        "host": "mysql",
        "port": "3306",
        "db": "buildlights",
        "tz": ""
    },
    {
        "id": "5b320074.8d73c",
        "type": "tls-config",
        "z": "ffd18aea.469058",
        "name": "",
        "cert": "./certificates/certificate.pem",
        "key": "./certificates/privatekey.pem",
        "ca": "",
        "verifyservercert": false
    },
    {
        "id": "890e0d98.2b116",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "36ed2188.74e47e",
        "type": "http in",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "url": "/web/*",
        "method": "get",
        "swaggerDoc": "",
        "x": 113,
        "y": 60,
        "wires": [
            [
                "efa8ebbc.a85ec8"
            ]
        ]
    },
    {
        "id": "8c862817.4062a8",
        "type": "http response",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "x": 690,
        "y": 199,
        "wires": []
    },
    {
        "id": "a242a570.c97278",
        "type": "file in",
        "z": "afcdb9fe.f99d18",
        "name": "binary file",
        "filename": "",
        "format": "",
        "x": 302,
        "y": 160,
        "wires": [
            [
                "784ff6c9.654c88"
            ]
        ]
    },
    {
        "id": "efa8ebbc.a85ec8",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "url rewrite",
        "func": "msg.filename = msg.req.url\n    .replace(\"/web/\", \"./web/\")\n    .replace(/\\?.*/,\"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 341.9999694824219,
        "y": 60,
        "wires": [
            [
                "a1aae15e.63d66"
            ]
        ]
    },
    {
        "id": "ffc69cda.4a352",
        "type": "catch",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "scope": null,
        "x": 101.83332824707031,
        "y": 600.0000610351562,
        "wires": [
            [
                "a84b42ce.f397f"
            ]
        ]
    },
    {
        "id": "a84b42ce.f397f",
        "type": "debug",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 395.8333435058594,
        "y": 600.0000610351562,
        "wires": []
    },
    {
        "id": "a8ef1fff.3fbbb",
        "type": "websocket out",
        "z": "afcdb9fe.f99d18",
        "name": "/ws/test out",
        "server": "4a2392dc.8b20fc",
        "client": "",
        "x": 670.6666259765625,
        "y": 480.66668701171875,
        "wires": []
    },
    {
        "id": "bb86f12c.2639e",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "beackon",
        "topic": "",
        "payload": "{\"ip\":\"127.0.0.1\", \"project\":\"BBL\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127.6666259765625,
        "y": 419.66668701171875,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "6dddbdbb.63b8c4",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "topic": "",
        "payload": "{'a':123}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 129.9479217529297,
        "y": 479.65972900390625,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "e2eac90.0965638",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127.94792175292969,
        "y": 539.7708435058594,
        "wires": [
            [
                "e5ba496b.5cd3e8"
            ]
        ]
    },
    {
        "id": "e5ba496b.5cd3e8",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "delete msg session",
        "func": "delete msg._session;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381.94793701171875,
        "y": 540.625,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "e090767.8c99688",
        "type": "http in",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "url": "/proxy*",
        "method": "get",
        "swaggerDoc": "",
        "x": 112,
        "y": 340,
        "wires": [
            [
                "8c63905.b25fe7"
            ]
        ]
    },
    {
        "id": "eb2f177a.a20d78",
        "type": "http response",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "7185eab2.0568f4",
        "type": "http request",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "b96c06bc.c67428",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "eb2f177a.a20d78"
            ]
        ]
    },
    {
        "id": "8c63905.b25fe7",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "url",
        "func": "msg.url=msg.payload.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 312,
        "y": 340,
        "wires": [
            [
                "7185eab2.0568f4"
            ]
        ]
    },
    {
        "id": "89a806fc.b44ad8",
        "type": "inject",
        "z": "9452f842.635e38",
        "name": "Trigger for build status request",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 216,
        "y": 80,
        "wires": [
            [
                "b1bf1f98.4b6c3"
            ]
        ]
    },
    {
        "id": "12912dd9.ba8fc2",
        "type": "split",
        "z": "9452f842.635e38",
        "name": "",
        "splt": "\\n",
        "x": 1052.5,
        "y": 82,
        "wires": [
            [
                "5c1dcacf.082234"
            ]
        ]
    },
    {
        "id": "784ff6c9.654c88",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "mime types",
        "func": "if (msg.filename.indexOf(\".ttf\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-sfnt\"};\n}else if (msg.filename.indexOf(\".woff\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-woff\"};\n}else if (msg.filename.indexOf(\".woff2\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-woff2\"};\n}else if (msg.filename.indexOf(\".js\")>0){\n     msg.headers = { \"Content-type\" : \"text/javascript\"};\n}else if (msg.filename.indexOf(\".css\")>0){\n     msg.headers = { \"Content-type\" : \"text/css\"};\n}else if (msg.filename.indexOf(\".png\")>0){\n     msg.headers = { \"Content-type\" : \"image/png\"};\n}else if (msg.filename.indexOf(\".json\")>0){\n     msg.headers = { \"Content-type\" : \"application/json\"};\n}else if (msg.filename.indexOf(\".svg\")>0){\n     msg.headers = { \"Content-type\" : \"image/svg+xml\"};\n}else if (msg.filename.indexOf(\".eot\")>0){\n     msg.headers = { \"Content-type\" : \"application/vnd.ms-fontobject\"};\n}else {\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 514,
        "y": 199,
        "wires": [
            [
                "8c862817.4062a8"
            ]
        ]
    },
    {
        "id": "a1aae15e.63d66",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "decide binary or text",
        "func": "var binaryExts=[\".png\", \".gif\", \".ttf\", \"woff\", \"woff2\", \".svg\", \".eot\"];\nmsg.isBinary=false;\nfor(var binaryExtNdx in binaryExts){\n    if (msg.filename.indexOf(binaryExts[binaryExtNdx])>0){\n        msg.isBinary=true;\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 621,
        "y": 59,
        "wires": [
            [
                "9d589c9.78c3d6"
            ]
        ]
    },
    {
        "id": "9d589c9.78c3d6",
        "type": "switch",
        "z": "afcdb9fe.f99d18",
        "name": "isBinary",
        "property": "isBinary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 102,
        "y": 200,
        "wires": [
            [
                "a242a570.c97278"
            ],
            [
                "26834d88.a30782"
            ]
        ]
    },
    {
        "id": "26834d88.a30782",
        "type": "file in",
        "z": "afcdb9fe.f99d18",
        "name": "text file",
        "filename": "",
        "format": "utf8",
        "x": 303,
        "y": 239,
        "wires": [
            [
                "784ff6c9.654c88"
            ]
        ]
    },
    {
        "id": "d2c84333.7a474",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade",
        "url": "/triggerUpgrade",
        "method": "post",
        "swaggerDoc": "",
        "x": 121,
        "y": 80,
        "wires": [
            [
                "225d2975.d020b6",
                "88d9992a.6b1038"
            ]
        ]
    },
    {
        "id": "225d2975.d020b6",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Success Response",
        "x": 609,
        "y": 80,
        "wires": []
    },
    {
        "id": "8e62c0c.588364",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Get Firware",
        "url": "/firmware",
        "method": "get",
        "swaggerDoc": "",
        "x": 111,
        "y": 280,
        "wires": [
            [
                "dbd207c8.ccac38",
                "5ada8df8.48d9c4"
            ]
        ]
    },
    {
        "id": "8851e2cf.90703",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Firware Files As Response",
        "x": 579,
        "y": 280,
        "wires": []
    },
    {
        "id": "475fc601.724658",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade For All",
        "url": "/triggerUpgradeForAll",
        "method": "post",
        "swaggerDoc": "",
        "x": 141,
        "y": 399,
        "wires": [
            [
                "c8f4ca05.a6ddf8",
                "ec841e35.80e46"
            ]
        ]
    },
    {
        "id": "14280cf9.74e993",
        "type": "http request",
        "z": "5914c4a1.24372c",
        "name": "Get list of devices",
        "method": "GET",
        "ret": "obj",
        "url": "http://127.0.0.1:1880/devices",
        "tls": "",
        "x": 609,
        "y": 441,
        "wires": [
            [
                "36f8dfc8.8a678"
            ]
        ]
    },
    {
        "id": "60c2d56c.01668c",
        "type": "http request",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade",
        "method": "POST",
        "ret": "txt",
        "url": "http://127.0.0.1:1880/triggerUpgrade",
        "tls": "",
        "x": 619.5,
        "y": 579,
        "wires": [
            []
        ]
    },
    {
        "id": "9b33cb8e.3a75f8",
        "type": "split",
        "z": "5914c4a1.24372c",
        "name": "",
        "splt": "\\n",
        "x": 90,
        "y": 579,
        "wires": [
            [
                "4356c7ca.982368"
            ]
        ]
    },
    {
        "id": "c8f4ca05.a6ddf8",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Success Response",
        "x": 371,
        "y": 359,
        "wires": []
    },
    {
        "id": "4356c7ca.982368",
        "type": "change",
        "z": "5914c4a1.24372c",
        "name": "delete headers",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 359,
        "y": 579,
        "wires": [
            [
                "60c2d56c.01668c"
            ]
        ]
    },
    {
        "id": "ec841e35.80e46",
        "type": "change",
        "z": "5914c4a1.24372c",
        "name": "copy original payload",
        "rules": [
            {
                "t": "set",
                "p": "callbackUrl",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 381,
        "y": 441,
        "wires": [
            [
                "14280cf9.74e993"
            ]
        ]
    },
    {
        "id": "5c1dcacf.082234",
        "type": "file function",
        "z": "9452f842.635e38",
        "name": "Prepare build status message",
        "filename": "node/static/js/buildstatus/prepareAndSendBuildStatusMessage.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 229.5,
        "y": 250,
        "wires": [
            [
                "fdf72570.df7ec8"
            ]
        ]
    },
    {
        "id": "88d9992a.6b1038",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Prepare Upgrade Trigger",
        "filename": "node/static/js/firmware/prepareUpgradeTriggerMsg.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 336,
        "y": 180,
        "wires": [
            [
                "34762a77.d33066"
            ]
        ]
    },
    {
        "id": "dbd207c8.ccac38",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Firmware Files",
        "filename": "node/static/js/firmware/firmwareFiles.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 321,
        "y": 280,
        "wires": [
            [
                "8851e2cf.90703"
            ]
        ]
    },
    {
        "id": "36f8dfc8.8a678",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Build request payload",
        "filename": "node/static/js/firmware/buildRequestPayload.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 381,
        "y": 520,
        "wires": [
            [
                "9b33cb8e.3a75f8"
            ]
        ]
    },
    {
        "id": "fdf72570.df7ec8",
        "type": "mqtt out",
        "z": "9452f842.635e38",
        "name": "Send build status message over mqtt",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "e2692e86.5cfdf",
        "x": 622,
        "y": 251,
        "wires": []
    },
    {
        "id": "310d2b87.4634d4",
        "type": "http response",
        "z": "94ee4800.b63ff8",
        "name": "Response",
        "x": 901,
        "y": 119,
        "wires": []
    },
    {
        "id": "c034739f.ae6db",
        "type": "file function",
        "z": "94ee4800.b63ff8",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 721,
        "y": 119,
        "wires": [
            [
                "310d2b87.4634d4"
            ]
        ]
    },
    {
        "id": "eae6052.e707cf8",
        "type": "http in",
        "z": "94ee4800.b63ff8",
        "name": "CI Server Types",
        "url": "/ciServerTypes",
        "method": "get",
        "swaggerDoc": "",
        "x": 122,
        "y": 119,
        "wires": [
            [
                "5f3cfd31.ea4494"
            ]
        ]
    },
    {
        "id": "27f23d86.6ee8a2",
        "type": "comment",
        "z": "94ee4800.b63ff8",
        "name": "REST GET CI Server Types",
        "info": "",
        "x": 139,
        "y": 57,
        "wires": []
    },
    {
        "id": "70f5a9ec.084228",
        "type": "mysql",
        "z": "94ee4800.b63ff8",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 551,
        "y": 119,
        "wires": [
            [
                "c034739f.ae6db"
            ]
        ]
    },
    {
        "id": "5f3cfd31.ea4494",
        "type": "function",
        "z": "94ee4800.b63ff8",
        "name": "Retrieve CI Server Types",
        "func": "msg.topic = \"Select * from CiServerTypes;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 349.5,
        "y": 119,
        "wires": [
            [
                "70f5a9ec.084228"
            ]
        ]
    },
    {
        "id": "454a9b4d.7e6a14",
        "type": "http in",
        "z": "7eb46653.6ccb18",
        "name": "Register server",
        "url": "/servers",
        "method": "post",
        "swaggerDoc": "",
        "x": 117,
        "y": 139,
        "wires": [
            [
                "c6a6ba28.dce488"
            ]
        ]
    },
    {
        "id": "e32a2a83.8659f8",
        "type": "http response",
        "z": "7eb46653.6ccb18",
        "name": "Response",
        "x": 1072,
        "y": 136,
        "wires": []
    },
    {
        "id": "c6a6ba28.dce488",
        "type": "file function",
        "z": "7eb46653.6ccb18",
        "name": "Prepare server info to save",
        "filename": "node/static/js/serverregistry/serverInfoToInsert.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 438.5,
        "y": 139,
        "wires": [
            [
                "fa5c4ec1.11d5c"
            ]
        ]
    },
    {
        "id": "1080a49c.1c6d3b",
        "type": "http in",
        "z": "7eb46653.6ccb18",
        "name": "Get all servers",
        "url": "/servers",
        "method": "get",
        "swaggerDoc": "",
        "x": 107,
        "y": 260,
        "wires": [
            [
                "a8a610c8.b0b64"
            ]
        ]
    },
    {
        "id": "77ad11f8.1738c",
        "type": "http response",
        "z": "7eb46653.6ccb18",
        "name": "Response",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "7909d3bd.7fda1c",
        "type": "comment",
        "z": "7eb46653.6ccb18",
        "name": "REST GET all servers",
        "info": "",
        "x": 123,
        "y": 215,
        "wires": []
    },
    {
        "id": "f1c8ec9.1b1511",
        "type": "comment",
        "z": "7eb46653.6ccb18",
        "name": "Register server",
        "info": "",
        "x": 101,
        "y": 67,
        "wires": []
    },
    {
        "id": "86f5978b.40f208",
        "type": "file function",
        "z": "7eb46653.6ccb18",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 719.5,
        "y": 260,
        "wires": [
            [
                "77ad11f8.1738c"
            ]
        ]
    },
    {
        "id": "fa5c4ec1.11d5c",
        "type": "mysql",
        "z": "7eb46653.6ccb18",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 729,
        "y": 139,
        "wires": [
            [
                "e32a2a83.8659f8"
            ]
        ]
    },
    {
        "id": "a8a610c8.b0b64",
        "type": "function",
        "z": "7eb46653.6ccb18",
        "name": "Retrieve CI servers",
        "func": "msg.topic = \"Select * from CiServers;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 331.5,
        "y": 260,
        "wires": [
            [
                "c6439cdd.8e1ff"
            ]
        ]
    },
    {
        "id": "c6439cdd.8e1ff",
        "type": "mysql",
        "z": "7eb46653.6ccb18",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "86f5978b.40f208"
            ]
        ]
    },
    {
        "id": "ca3e486c.0bf108",
        "type": "http in",
        "z": "ffd18aea.469058",
        "name": "Get pipelines for one server",
        "url": "/pipelines",
        "method": "get",
        "swaggerDoc": "",
        "x": 161,
        "y": 121,
        "wires": [
            [
                "ee63e006.b9c7b"
            ]
        ]
    },
    {
        "id": "563ec839.1c77e8",
        "type": "comment",
        "z": "ffd18aea.469058",
        "name": "REST GET all pipelines",
        "info": "",
        "x": 137,
        "y": 61,
        "wires": []
    },
    {
        "id": "c8ed785f.d63668",
        "type": "comment",
        "z": "ffd18aea.469058",
        "name": "Register pipeline",
        "info": "",
        "x": 101,
        "y": 227,
        "wires": []
    },
    {
        "id": "30c1a379.dba8cc",
        "type": "file function",
        "z": "ffd18aea.469058",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 748.5,
        "y": 121,
        "wires": [
            [
                "1dca4fbf.b828"
            ]
        ]
    },
    {
        "id": "19b38adb.132715",
        "type": "mysql",
        "z": "ffd18aea.469058",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 909.4285278320312,
        "y": 680.1428833007812,
        "wires": [
            []
        ]
    },
    {
        "id": "ee63e006.b9c7b",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Retrieve Pipelines",
        "func": "msg.topic = \"Select id, pipeline from PipeLines where serverId = '\" +msg.payload.serverId + \"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 427.5,
        "y": 121,
        "wires": [
            [
                "bc7b67d9.6517f8"
            ]
        ]
    },
    {
        "id": "bc7b67d9.6517f8",
        "type": "mysql",
        "z": "ffd18aea.469058",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 599,
        "y": 121,
        "wires": [
            [
                "30c1a379.dba8cc"
            ]
        ]
    },
    {
        "id": "2c30b83a.b6b4f8",
        "type": "inject",
        "z": "ffd18aea.469058",
        "name": "Trigger pipelines insertion",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 186.5,
        "y": 279,
        "wires": [
            [
                "4bf5b950.2a45d8"
            ]
        ]
    },
    {
        "id": "4c1e7b02.910214",
        "type": "file function",
        "z": "4cc0e4ce.67e46c",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "f65d5ee.c3317a"
            ]
        ]
    },
    {
        "id": "7274e27c.a2861c",
        "type": "http in",
        "z": "4cc0e4ce.67e46c",
        "name": "Patterns",
        "url": "/patterns",
        "method": "get",
        "swaggerDoc": "",
        "x": 101,
        "y": 120,
        "wires": [
            [
                "dbfceba5.d79df8"
            ]
        ]
    },
    {
        "id": "b5dd32a4.a18ce",
        "type": "comment",
        "z": "4cc0e4ce.67e46c",
        "name": "REST GET Patterns",
        "info": "",
        "x": 111,
        "y": 63,
        "wires": []
    },
    {
        "id": "e29bcec7.1501a",
        "type": "mysql",
        "z": "4cc0e4ce.67e46c",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "4c1e7b02.910214"
            ]
        ]
    },
    {
        "id": "dbfceba5.d79df8",
        "type": "function",
        "z": "4cc0e4ce.67e46c",
        "name": "Retrieve Patterns",
        "func": "msg.topic = \"Select * from Patterns;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310.5,
        "y": 120,
        "wires": [
            [
                "e29bcec7.1501a"
            ]
        ]
    },
    {
        "id": "2f1d14ba.37eefc",
        "type": "mqtt in",
        "z": "d0a3b329.d2df1",
        "name": "Register device",
        "topic": "+/status",
        "qos": "2",
        "broker": "e2692e86.5cfdf",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "4ff2507f.911f6"
            ]
        ]
    },
    {
        "id": "9cebbbe3.64c348",
        "type": "mysql",
        "z": "d0a3b329.d2df1",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 802,
        "y": 101,
        "wires": [
            [
                "be3a0f52.fb96d"
            ]
        ]
    },
    {
        "id": "718e86c4.c7fa38",
        "type": "file function",
        "z": "d0a3b329.d2df1",
        "name": "Prepare device info to insert",
        "filename": "node/static/js/deviceregistry/deviceInfoToInsert.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 551,
        "y": 99,
        "wires": [
            [
                "9cebbbe3.64c348"
            ]
        ]
    },
    {
        "id": "be3a0f52.fb96d",
        "type": "websocket out",
        "z": "d0a3b329.d2df1",
        "name": "/ws/test out",
        "server": "890e0d98.2b116",
        "client": "",
        "x": 973,
        "y": 99,
        "wires": []
    },
    {
        "id": "d0875438.521c58",
        "type": "http in",
        "z": "d0a3b329.d2df1",
        "name": "Update device info",
        "url": "/devices",
        "method": "post",
        "swaggerDoc": "",
        "x": 131,
        "y": 298,
        "wires": [
            [
                "5ad3cd9e.e66b24"
            ]
        ]
    },
    {
        "id": "5ad3cd9e.e66b24",
        "type": "file function",
        "z": "d0a3b329.d2df1",
        "name": "Prepare device info to update",
        "filename": "node/static/js/deviceregistry/deviceInfoToUpdate.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 438,
        "y": 298,
        "wires": [
            [
                "449636b6.1f4168"
            ]
        ]
    },
    {
        "id": "449636b6.1f4168",
        "type": "mysql",
        "z": "d0a3b329.d2df1",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 665,
        "y": 298,
        "wires": [
            [
                "904ff746.7ce9a8"
            ]
        ]
    },
    {
        "id": "30f11851.adaa28",
        "type": "file function",
        "z": "d0a3b329.d2df1",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 704,
        "y": 460,
        "wires": [
            [
                "5ec65edd.cf6c6"
            ]
        ]
    },
    {
        "id": "7b23523f.accf3c",
        "type": "http in",
        "z": "d0a3b329.d2df1",
        "name": "Devices",
        "url": "/devices",
        "method": "get",
        "swaggerDoc": "",
        "x": 91,
        "y": 460,
        "wires": [
            [
                "68d0fc75.774fd4"
            ]
        ]
    },
    {
        "id": "a5feb541.5d5b08",
        "type": "mysql",
        "z": "d0a3b329.d2df1",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 511,
        "y": 460,
        "wires": [
            [
                "30f11851.adaa28"
            ]
        ]
    },
    {
        "id": "68d0fc75.774fd4",
        "type": "function",
        "z": "d0a3b329.d2df1",
        "name": "Retrieve Devices",
        "func": "msg.topic = \"Select * from Devices;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310.5,
        "y": 460,
        "wires": [
            [
                "a5feb541.5d5b08"
            ]
        ]
    },
    {
        "id": "f3dd575e.71dee8",
        "type": "inject",
        "z": "d0a3b329.d2df1",
        "name": "Clear Devices table",
        "topic": "Delete from Devices;",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 605,
        "wires": [
            [
                "74cd7628.f259c8"
            ]
        ]
    },
    {
        "id": "74cd7628.f259c8",
        "type": "mysql",
        "z": "d0a3b329.d2df1",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 385,
        "y": 606,
        "wires": [
            []
        ]
    },
    {
        "id": "6c154ec8.2f287",
        "type": "comment",
        "z": "d0a3b329.d2df1",
        "name": "REST POST Update Device Info",
        "info": "",
        "x": 151,
        "y": 241,
        "wires": []
    },
    {
        "id": "874d6408.78db58",
        "type": "comment",
        "z": "d0a3b329.d2df1",
        "name": "REST GET Devices",
        "info": "",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "c16769df.44a8b8",
        "type": "comment",
        "z": "d0a3b329.d2df1",
        "name": "Register device",
        "info": "",
        "x": 101,
        "y": 39,
        "wires": []
    },
    {
        "id": "9dcd73f.e18939",
        "type": "http request",
        "z": "ffd18aea.469058",
        "name": "Fetch cctray feed",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "5b320074.8d73c",
        "x": 650.0000305175781,
        "y": 479.4286193847656,
        "wires": [
            [
                "14b177ea.c71c98"
            ]
        ]
    },
    {
        "id": "6183174c.4d1268",
        "type": "split",
        "z": "ffd18aea.469058",
        "name": "split by ciServer",
        "splt": "\\n",
        "x": 536.8810501098633,
        "y": 378.3809623718262,
        "wires": [
            [
                "3f80f814.a109e8"
            ]
        ]
    },
    {
        "id": "14b177ea.c71c98",
        "type": "xml",
        "z": "ffd18aea.469058",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 908.142822265625,
        "y": 480.14288330078125,
        "wires": [
            [
                "13c78130.cd32ff"
            ]
        ]
    },
    {
        "id": "53973063.7939",
        "type": "file function",
        "z": "ffd18aea.469058",
        "name": "Extract pipelines",
        "filename": "",
        "reloadfile": true,
        "outputs": 1,
        "x": 519.9999389648438,
        "y": 579.7142944335938,
        "wires": [
            [
                "530acf95.047ca"
            ]
        ]
    },
    {
        "id": "530acf95.047ca",
        "type": "split",
        "z": "ffd18aea.469058",
        "name": "",
        "splt": "\\n",
        "x": 91.71430206298828,
        "y": 679.4285888671875,
        "wires": [
            [
                "873de68f.e20da8"
            ]
        ]
    },
    {
        "id": "50d8e7a.6e30518",
        "type": "template",
        "z": "ffd18aea.469058",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<Projects>\n    <Project name=\"GoServerConfigurationPackage :: ValidateGoConfig\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:26:38\" webUrl=\"https://go.nbnco.net.au/go/pipelines/GoServerConfigurationPackage/4616/ValidateGoConfig/1\"/>\n    <Project name=\"GoServerConfigurationPackage :: ValidateGoConfig :: Validate\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:26:38\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/GoServerConfigurationPackage/4616/ValidateGoConfig/1/Validate\"/>\n    <Project name=\"GoServerConfigurationPackage :: Release\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:27:28\" webUrl=\"https://go.nbnco.net.au/go/pipelines/GoServerConfigurationPackage/4616/Release/1\"/>\n    <Project name=\"GoServerConfigurationPackage :: Release :: Release\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:27:28\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/GoServerConfigurationPackage/4616/Release/1/Release\"/>\n    <Project name=\"GoServerConfigurationDeploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:28:37\" webUrl=\"https://go.nbnco.net.au/go/pipelines/GoServerConfigurationDeploy/3997/Deploy/1\"/>\n    <Project name=\"GoServerConfigurationDeploy :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"4616\" lastBuildTime=\"2016-08-19T13:28:37\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/GoServerConfigurationDeploy/3997/Deploy/1/Deploy\"/>\n    <Project name=\"ServicePortalPenTests :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663\" lastBuildTime=\"2015-03-23T10:23:56\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalPenTests/15/Deploy/1\"/>\n    <Project name=\"ServicePortalPenTests :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663\" lastBuildTime=\"2015-03-23T10:23:56\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalPenTests/15/Deploy/1/Deploy\"/>\n    <Project name=\"ServicePortalPenTests :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663 :: 3\" lastBuildTime=\"2015-03-23T13:54:14\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalPenTests/15/Acceptance/3\"/>\n    <Project name=\"ServicePortalPenTests :: Acceptance :: acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663 :: 3\" lastBuildTime=\"2015-03-23T13:54:14\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalPenTests/15/Acceptance/3/acceptance_tests\"/>\n    <Project name=\"ServicePortalPenTests :: Scan\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.13663 :: 4\" lastBuildTime=\"2016-04-26T11:29:08\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalPenTests/15/Scan/4\">\n        <messages>\n            <message text=\"Li Dai <lidai@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"ServicePortalPenTests :: Scan :: Scan\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.13663 :: 4\" lastBuildTime=\"2016-04-26T11:29:08\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalPenTests/15/Scan/4/Scan\">\n        <messages>\n            <message text=\"Li Dai <lidai@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"ServicePortalPenTests :: Report\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663\" lastBuildTime=\"2015-03-23T13:56:56\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalPenTests/15/Report/1\"/>\n    <Project name=\"ServicePortalPenTests :: Report :: GenerateReport\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13663\" lastBuildTime=\"2015-03-23T13:56:56\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalPenTests/15/Report/1/GenerateReport\"/>\n    <Project name=\"MobAct-CI :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:33:53\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-CI/1116/Test/1\"/>\n    <Project name=\"MobAct-CI :: Test :: unit_test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:33:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-CI/1116/Test/1/unit_test\"/>\n    <Project name=\"MobAct-CI :: Test :: integration\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:23:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-CI/1116/Test/1/integration\"/>\n    <Project name=\"MobAct-CI :: Test :: publish\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:23:47\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-CI/1116/Test/1/publish\"/>\n    <Project name=\"MobAct-CI :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:37:07\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-CI/1116/Deploy/1\"/>\n    <Project name=\"MobAct-CI :: Deploy :: ci_1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:37:07\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-CI/1116/Deploy/1/ci_1\"/>\n    <Project name=\"MobAct-CI :: Acceptance-CI\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:57:16\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-CI/1116/Acceptance-CI/1\">\n        <messages>\n            <message text=\"Sean Johnson <seanjohnson1@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobAct-CI :: Acceptance-CI :: test\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:57:16\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-CI/1116/Acceptance-CI/1/test\">\n        <messages>\n            <message text=\"Sean Johnson <seanjohnson1@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobAct-Dev1 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:46:29\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Dev1/383/Deploy/1\"/>\n    <Project name=\"MobAct-Dev1 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:46:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Dev1/383/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-Dev1 :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:46:55\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Dev1/383/SmokeTest/1\"/>\n    <Project name=\"MobAct-Dev1 :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-01-06T16:46:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Dev1/383/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"MobAct-Dev2 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.931 :: 3\" lastBuildTime=\"2015-01-19T16:52:53\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Dev2/14/Deploy/3\"/>\n    <Project name=\"MobAct-Dev2 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.931 :: 3\" lastBuildTime=\"2015-01-19T16:52:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Dev2/14/Deploy/3/Deploy\"/>\n    <Project name=\"MobAct-Staging :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1114\" lastBuildTime=\"2015-12-10T16:05:53\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Staging/56/Deploy/1\"/>\n    <Project name=\"MobAct-Staging :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1114\" lastBuildTime=\"2015-12-10T16:05:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Staging/56/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-RSVT :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-07-07T11:00:55\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-RSVT/27/Deploy/1\"/>\n    <Project name=\"MobAct-RSVT :: Deploy :: DeployDC1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-07-07T11:00:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-RSVT/27/Deploy/1/DeployDC1\"/>\n    <Project name=\"MobAct-RSVT :: Deploy :: DeployDC2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1116\" lastBuildTime=\"2016-07-07T11:00:50\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-RSVT/27/Deploy/1/DeployDC2\"/>\n    <Project name=\"MobAct-SIT1 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-15T13:05:13\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-SIT1/86/Deploy/1\"/>\n    <Project name=\"MobAct-SIT1 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-15T13:05:13\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-SIT1/86/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-SIT1 :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-15T13:05:37\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-SIT1/86/SmokeTest/1\"/>\n    <Project name=\"MobAct-SIT1 :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-15T13:05:37\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-SIT1/86/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"MobAct-SIT2 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1107\" lastBuildTime=\"2015-08-07T14:54:30\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-SIT2/68/Deploy/1\"/>\n    <Project name=\"MobAct-SIT2 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1107\" lastBuildTime=\"2015-08-07T14:54:30\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-SIT2/68/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-SIT2 :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1107\" lastBuildTime=\"2015-08-07T14:55:03\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-SIT2/68/SmokeTest/1\"/>\n    <Project name=\"MobAct-SIT2 :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1107\" lastBuildTime=\"2015-08-07T14:55:03\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-SIT2/68/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"MobAct-ProdSupp :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-17T14:00:29\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-ProdSupp/43/Deploy/1\"/>\n    <Project name=\"MobAct-ProdSupp :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-17T14:00:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-ProdSupp/43/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-ProdSupp :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-17T14:00:52\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-ProdSupp/43/SmokeTest/1\"/>\n    <Project name=\"MobAct-ProdSupp :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-17T14:00:52\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-ProdSupp/43/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"MobAct-Prod :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-21T23:14:53\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Prod/30/Deploy/1\"/>\n    <Project name=\"MobAct-Prod :: Deploy :: DeployDC1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-21T23:14:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Prod/30/Deploy/1/DeployDC1\"/>\n    <Project name=\"MobAct-Prod :: Deploy :: DeployDC2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-21T23:14:47\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Prod/30/Deploy/1/DeployDC2\"/>\n    <Project name=\"MobAct-Prod :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-21T23:15:26\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-Prod/30/SmokeTest/1\"/>\n    <Project name=\"MobAct-Prod :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.1112\" lastBuildTime=\"2015-09-21T23:15:26\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-Prod/30/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.735 :: 2\" lastBuildTime=\"2015-11-30T11:02:33\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIIOS/735/Test/2\">\n        <messages>\n            <message text=\"Sean Johnson <seanjohnson1@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIIOS :: Test :: unit_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.735 :: 2\" lastBuildTime=\"2015-11-30T11:02:33\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/735/Test/2/unit_tests\">\n        <messages>\n            <message text=\"Sean Johnson <seanjohnson1@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIIOS :: Package-NonProd\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:01:05\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIIOS/734/Package-NonProd/1\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Package-NonProd :: ios_dev\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T09:56:33\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/734/Package-NonProd/1/ios_dev\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Package-NonProd :: ios_test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T09:58:40\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/734/Package-NonProd/1/ios_test\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Package-NonProd :: ios_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:01:05\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/734/Package-NonProd/1/ios_preprod\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Package-Prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:08:56\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIIOS/734/Package-Prod/1\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Package-Prod :: ios_prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:08:56\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/734/Package-Prod/1/ios_prod\"/>\n    <Project name=\"MobileActivationClientCIIOS :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:16:12\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIIOS/734/Acceptance/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIIOS :: Acceptance :: ios_1\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:16:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIIOS/734/Acceptance/1/ios_1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:11:34\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIAndroid/735/Test/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Test :: unit_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T10:11:34\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/735/Test/1/unit_tests\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-NonProd\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:49:10\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIAndroid/734/Package-NonProd/1\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-NonProd :: android_dev\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:40:10\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Package-NonProd/1/android_dev\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-NonProd :: android_test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:44:39\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Package-NonProd/1/android_test\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-NonProd :: android_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:49:10\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Package-NonProd/1/android_preprod\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-Prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:51:17\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIAndroid/734/Package-Prod/1\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Package-Prod :: android_prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:51:17\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Package-Prod/1/android_prod\"/>\n    <Project name=\"MobileActivationClientCIAndroid :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:52:22\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIAndroid/734/Acceptance/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Acceptance :: android_1\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:51:42\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Acceptance/1/android_1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Acceptance :: android_2\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:52:02\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Acceptance/1/android_2\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIAndroid :: Acceptance :: android_3\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.733\" lastBuildTime=\"2015-09-11T10:52:22\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIAndroid/734/Acceptance/1/android_3\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:38:40\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU/42/Test/1\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Test :: unit_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:38:40\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Test/1/unit_tests\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Package\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:52:38\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU/42/Package/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: ios_prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:42:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/ios_prod\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: ios_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:45:15\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/ios_preprod\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: ios_dev\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:46:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/ios_dev\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: ios_test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:50:52\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/ios_test\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: android_prod\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:51:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/android_prod\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: android_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:51:44\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/android_preprod\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: android_dev\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:52:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/android_dev\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Package :: android_test\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.42\" lastBuildTime=\"2016-01-11T10:52:38\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/42/Package/1/android_test\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.35\" lastBuildTime=\"2015-06-16T14:47:12\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU/35/Acceptance/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Acceptance :: ios_1\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R3.35\" lastBuildTime=\"2015-06-16T14:44:35\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/35/Acceptance/1/ios_1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU :: Acceptance :: android_1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.35\" lastBuildTime=\"2015-06-16T14:45:49\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/35/Acceptance/1/android_1\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Acceptance :: android_2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.35\" lastBuildTime=\"2015-06-16T14:46:57\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/35/Acceptance/1/android_2\"/>\n    <Project name=\"MobileActivationClientCI-BAU :: Acceptance :: android_3\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R3.35\" lastBuildTime=\"2015-06-16T14:47:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU/35/Acceptance/1/android_3\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:32:32\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU-R14/3/Test/1\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Test :: unit_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:32:32\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Test/1/unit_tests\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:35:38\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU-R14/3/Package/1\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: ios_prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:34:10\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/ios_prod\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: ios_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:34:36\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/ios_preprod\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: ios_dev\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:33:45\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/ios_dev\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: android_prod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:34:54\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/android_prod\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: android_preprod\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:35:20\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/android_preprod\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Package :: android_dev\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:35:38\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Package/1/android_dev\"/>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:37:14\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCI-BAU-R14/3/Acceptance/1\">\n        <messages>\n            <message text=\"Alesia Nazarava <alesianazarava@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Acceptance :: ios_1\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:36:03\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Acceptance/1/ios_1\">\n        <messages>\n            <message text=\"Alesia Nazarava <alesianazarava@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Acceptance :: android_1\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:37:13\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Acceptance/1/android_1\">\n        <messages>\n            <message text=\"Alesia Nazarava <alesianazarava@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Acceptance :: android_2\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:37:14\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Acceptance/1/android_2\">\n        <messages>\n            <message text=\"Alesia Nazarava <alesianazarava@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCI-BAU-R14 :: Acceptance :: android_3\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"R14.10.3\" lastBuildTime=\"2014-12-18T09:36:19\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCI-BAU-R14/3/Acceptance/1/android_3\"/>\n    <Project name=\"MobileActivationClientCIiOSTemp :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T11:45:12\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIiOSTemp/173/Test/1\"/>\n    <Project name=\"MobileActivationClientCIiOSTemp :: Test :: unit_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T11:45:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIiOSTemp/173/Test/1/unit_tests\"/>\n    <Project name=\"MobileActivationClientCIiOSTemp :: Package\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T11:48:25\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobileActivationClientCIiOSTemp/173/Package/1\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobileActivationClientCIiOSTemp :: Package :: ios_prod_nex\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"1.734\" lastBuildTime=\"2015-11-30T11:48:25\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobileActivationClientCIiOSTemp/173/Package/1/ios_prod_nex\">\n        <messages>\n            <message text=\"Natalia Chernova\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"MobAct-ProdSupp-Deployment-Test :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.11\" lastBuildTime=\"2015-03-02T15:19:28\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-ProdSupp-Deployment-Test/11/Deploy/1\"/>\n    <Project name=\"MobAct-ProdSupp-Deployment-Test :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.11\" lastBuildTime=\"2015-03-02T15:19:28\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-ProdSupp-Deployment-Test/11/Deploy/1/Deploy\"/>\n    <Project name=\"MobAct-ProdSupp-Deployment-Test-ASMRole :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.5\" lastBuildTime=\"2015-03-02T16:34:22\" webUrl=\"https://go.nbnco.net.au/go/pipelines/MobAct-ProdSupp-Deployment-Test-ASMRole/5/Deploy/1\"/>\n    <Project name=\"MobAct-ProdSupp-Deployment-Test-ASMRole :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.5\" lastBuildTime=\"2015-03-02T16:34:22\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/MobAct-ProdSupp-Deployment-Test-ASMRole/5/Deploy/1/Deploy\"/>\n    <Project name=\"NBNJettyStartPublish9 :: Test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"9.5\" lastBuildTime=\"2016-02-11T16:52:54\" webUrl=\"https://go.nbnco.net.au/go/pipelines/NBNJettyStartPublish9/5/Test/1\"/>\n    <Project name=\"NBNJettyStartPublish9 :: Test :: test_and_compile_9\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"9.5\" lastBuildTime=\"2016-02-11T16:52:54\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/NBNJettyStartPublish9/5/Test/1/test_and_compile_9\"/>\n    <Project name=\"NBNJettyStartPublish9 :: Publish\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"9.5\" lastBuildTime=\"2016-02-11T16:54:22\" webUrl=\"https://go.nbnco.net.au/go/pipelines/NBNJettyStartPublish9/5/Publish/1\"/>\n    <Project name=\"NBNJettyStartPublish9 :: Publish :: publish_9\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"9.5\" lastBuildTime=\"2016-02-11T16:54:22\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/NBNJettyStartPublish9/5/Publish/1/publish_9\"/>\n    \n    \n    \n    \n    \n    \n    <Project name=\"OnlineCustomers :: Tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:05:57\" webUrl=\"https://go.nbnco.net.au/go/pipelines/OnlineCustomers/17863/Tests/1\"/>\n    <Project name=\"OnlineCustomers :: Tests :: unit_test_and_check_style\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:03:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Tests/1/unit_test_and_check_style\"/>\n    <Project name=\"OnlineCustomers :: Tests :: java_script_test\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T16:41:59\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Tests/1/java_script_test\"/>\n    <Project name=\"OnlineCustomers :: Tests :: integration\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:05:57\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Tests/1/integration\"/>\n    <Project name=\"OnlineCustomers :: Tests :: publish\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T16:48:20\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Tests/1/publish\"/>\n    <Project name=\"OnlineCustomers :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:12:58\" webUrl=\"https://go.nbnco.net.au/go/pipelines/OnlineCustomers/17863/Deploy/1\"/>\n    <Project name=\"OnlineCustomers :: Deploy :: b2b_mockANDci_curr_ci1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:12:58\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Deploy/1/b2b_mockANDci_curr_ci1\"/>\n    <Project name=\"OnlineCustomers :: Deploy :: b2b_mockANDci_next_ci2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:12:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Deploy/1/b2b_mockANDci_next_ci2\"/>\n    <Project name=\"OnlineCustomers :: Deploy :: b2b_mockANDci_orcl_ci3\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:12:49\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Deploy/1/b2b_mockANDci_orcl_ci3\"/>\n    <Project name=\"OnlineCustomers :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:47:08\" webUrl=\"https://go.nbnco.net.au/go/pipelines/OnlineCustomers/17863/Acceptance/1\">\n        <messages>\n            <message text=\"Sung Woo Kim <sungwookim@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_porsche\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:38:17\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_porsche\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_bugatti\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:35:23\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_bugatti\">\n        <messages>\n            <message text=\"Sung Woo Kim <sungwookim@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_maserati\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:28:27\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_maserati\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_ferrari\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:35:30\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_ferrari\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_jaguar\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:41:06\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_jaguar\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_lamborghini\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:34:05\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_lamborghini\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: curr_hypersport\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:20:08\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/curr_hypersport\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_porsche\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:38:56\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_porsche\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_bugatti\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:35:03\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_bugatti\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_maserati\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:37:20\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_maserati\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_ferrari\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:44:47\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_ferrari\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_jaguar\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:46:14\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_jaguar\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_lamborghini\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:47:08\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_lamborghini\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: next_hypersport\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:39:33\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/next_hypersport\"/>\n    <Project name=\"OnlineCustomers :: Acceptance :: orcl\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:35:43\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17863/Acceptance/1/orcl\"/>\n    <Project name=\"OnlineCustomers :: AsYouWish\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T12:44:41\" webUrl=\"https://go.nbnco.net.au/go/pipelines/OnlineCustomers/17859/AsYouWish/1\"/>\n    <Project name=\"OnlineCustomers :: AsYouWish :: dummy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T12:44:41\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/OnlineCustomers/17859/AsYouWish/1/dummy\"/>\n   \n   \n   \n   \n    <Project name=\"Dev1-PodBAU :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T14:52:18\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev1-PodBAU/1972/Deploy/1\"/>\n    <Project name=\"Dev1-PodBAU :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T14:52:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Deploy/1/Deploy\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:32:18\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev1-PodBAU/1972/Acceptance/1\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: porsche_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:32:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/porsche_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:23:15\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:20:42\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/maserati_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:30:39\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:26:39\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:25:24\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev1-PodBAU :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T15:01:37\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev1-PodBAU/1972/Acceptance/1/selenium_acceptance_tests\"/>\n    <Project name=\"AnsiblePingNP :: Ping\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"8\" lastBuildTime=\"2016-05-31T10:44:20\" webUrl=\"https://go.nbnco.net.au/go/pipelines/AnsiblePingNP/8/Ping/1\"/>\n    <Project name=\"AnsiblePingNP :: Ping :: Ping\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"8\" lastBuildTime=\"2016-05-31T10:44:20\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/AnsiblePingNP/8/Ping/1/Ping\"/>\n    <Project name=\"AnsiblePingPROD :: Ping\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1\" lastBuildTime=\"2016-06-06T11:34:18\" webUrl=\"https://go.nbnco.net.au/go/pipelines/AnsiblePingPROD/1/Ping/1\"/>\n    <Project name=\"AnsiblePingPROD :: Ping :: Ping\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1\" lastBuildTime=\"2016-06-06T11:34:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/AnsiblePingPROD/1/Ping/1/Ping\"/>\n    <Project name=\"Dev2-PodRed :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T17:27:00\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev2-PodRed/1161/Deploy/1\"/>\n    <Project name=\"Dev2-PodRed :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T17:27:00\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Deploy/1/Deploy\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance\" activity=\"Building\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-21T13:20:05\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev2-PodRed/1161/Acceptance/1\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: porsche_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-19T17:04:19\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/porsche_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: bugatti_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-18T21:56:43\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: maserati_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-18T22:16:32\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/maserati_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: ferrari_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-18T23:00:06\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: jaguar_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-18T21:46:00\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-21T13:20:05\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev2-PodRed :: Acceptance :: selenium_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 4\" lastBuildTime=\"2016-08-18T21:11:15\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev2-PodRed/1161/Acceptance/1/selenium_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856\" lastBuildTime=\"2016-08-21T12:04:27\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev3-PodGreen/1129/Deploy/1\"/>\n    <Project name=\"Dev3-PodGreen :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856\" lastBuildTime=\"2016-08-21T12:04:27\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Deploy/1/Deploy\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T17:33:15\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev3-PodGreen/1129/Acceptance/3\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: porsche_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T14:04:58\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/porsche_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T13:35:10\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T13:35:04\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/maserati_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T13:56:08\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T13:06:49\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T17:33:15\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev3-PodGreen :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17856 :: 3\" lastBuildTime=\"2016-08-21T12:55:34\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev3-PodGreen/1129/Acceptance/3/selenium_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848\" lastBuildTime=\"2016-08-19T10:37:24\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev4/91/Deploy/1\"/>\n    <Project name=\"Dev4 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848\" lastBuildTime=\"2016-08-19T10:37:24\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Deploy/1/Deploy\"/>\n    <Project name=\"Dev4 :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:57:49\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev4/91/Acceptance/2\"/>\n    <Project name=\"Dev4 :: Acceptance :: porsche_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:39:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/porsche_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:29:44\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:29:59\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/maserati_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:47:59\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:57:49\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:46:34\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev4 :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 2\" lastBuildTime=\"2016-08-21T17:11:41\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev4/91/Acceptance/2/selenium_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T09:11:38\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev5-Showcase/190/Deploy/1\"/>\n    <Project name=\"Dev5-Showcase :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T09:11:38\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Deploy/1/Deploy\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev5-Showcase/190/Acceptance/1\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: porsche_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/porsche_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/maserati_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T17:43:29\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T09:59:33\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev5-Showcase :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17838\" lastBuildTime=\"2016-08-18T09:17:28\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev5-Showcase/190/Acceptance/1/selenium_acceptance_tests\"/>\n    <Project name=\"Dev6-PodBlue :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T16:20:16\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev6-PodBlue/107/Deploy/1\"/>\n    <Project name=\"Dev6-PodBlue :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T16:20:16\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Deploy/1/Deploy\"/>\n    <Project name=\"Dev6-PodBlue :: Acceptance\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17732 :: 2\" lastBuildTime=\"2016-08-04T09:40:51\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev6-PodBlue/107/Acceptance/1\">\n        <messages>\n            <message text=\"sammiepan <sammiepan@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: porsche_acceptance_tests\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17732 :: 2\" lastBuildTime=\"2016-08-04T09:40:51\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/porsche_acceptance_tests\"/>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T17:29:55\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/bugatti_acceptance_tests\">\n        <messages>\n            <message text=\"sammiepan <sammiepan@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T17:19:01\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/maserati_acceptance_tests\"/>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T17:40:21\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T17:25:14\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/jaguar_acceptance_tests\">\n        <messages>\n            <message text=\"sammiepan <sammiepan@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T17:41:21\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/lamborghini_acceptance_tests\"/>\n    <Project name=\"Dev6-PodBlue :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17861\" lastBuildTime=\"2016-08-22T16:27:36\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev6-PodBlue/107/Acceptance/1/selenium_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848\" lastBuildTime=\"2016-08-19T11:56:12\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev7-PodPurple/231/Deploy/1\"/>\n    <Project name=\"Dev7-PodPurple :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848\" lastBuildTime=\"2016-08-19T11:56:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Deploy/1/Deploy\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-21T18:56:58\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Dev7-PodPurple/231/Acceptance/3\">\n        <messages>\n            <message text=\"sammiepan <sammiepan@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: porsche_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-19T17:41:23\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/porsche_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: bugatti_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-21T18:26:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/bugatti_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: maserati_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-19T17:11:28\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/maserati_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: ferrari_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-19T17:50:16\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/ferrari_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: jaguar_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-19T16:24:58\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/jaguar_acceptance_tests\"/>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: lamborghini_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-21T18:56:58\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/lamborghini_acceptance_tests\">\n        <messages>\n            <message text=\"sammiepan <sammiepan@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Dev7-PodPurple :: Acceptance :: selenium_acceptance_tests\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17848 :: 3\" lastBuildTime=\"2016-08-19T15:29:01\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Dev7-PodPurple/231/Acceptance/3/selenium_acceptance_tests\"/>\n    <Project name=\"SP_SIT1 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T16:42:02\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SP_SIT1/202/Deploy/1\"/>\n    <Project name=\"SP_SIT1 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17855\" lastBuildTime=\"2016-08-19T16:42:02\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SP_SIT1/202/Deploy/1/Deploy\"/>\n    <Project name=\"SP_SIT2 :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17724\" lastBuildTime=\"2016-08-01T13:53:42\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SP_SIT2/100/Deploy/1\"/>\n    <Project name=\"SP_SIT2 :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17724\" lastBuildTime=\"2016-08-01T13:53:42\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SP_SIT2/100/Deploy/1/Deploy\"/>\n    <Project name=\"CVT :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17470\" lastBuildTime=\"2016-07-01T09:06:58\" webUrl=\"https://go.nbnco.net.au/go/pipelines/CVT/41/Deploy/1\"/>\n    <Project name=\"CVT :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17470\" lastBuildTime=\"2016-07-01T09:06:58\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/CVT/41/Deploy/1/Deploy\"/>\n    <Project name=\"Staging :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17834\" lastBuildTime=\"2016-08-17T13:59:43\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Staging/228/Deploy/1\"/>\n    <Project name=\"Staging :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17834\" lastBuildTime=\"2016-08-17T13:59:43\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Staging/228/Deploy/1/Deploy\"/>\n    <Project name=\"PreProd :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17837\" lastBuildTime=\"2016-08-17T16:28:06\" webUrl=\"https://go.nbnco.net.au/go/pipelines/PreProd/417/Deploy/1\"/>\n    <Project name=\"PreProd :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17837\" lastBuildTime=\"2016-08-17T16:28:06\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/PreProd/417/Deploy/1/Deploy\"/>\n    <Project name=\"RSVT :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17732\" lastBuildTime=\"2016-08-03T11:55:26\" webUrl=\"https://go.nbnco.net.au/go/pipelines/RSVT/149/Deploy/1\"/>\n    <Project name=\"RSVT :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17732\" lastBuildTime=\"2016-08-03T11:55:26\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/RSVT/149/Deploy/1/Deploy\"/>\n    <Project name=\"PSVT :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17849\" lastBuildTime=\"2016-08-19T15:27:24\" webUrl=\"https://go.nbnco.net.au/go/pipelines/PSVT/161/Deploy/1\"/>\n    <Project name=\"PSVT :: Deploy :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17849\" lastBuildTime=\"2016-08-19T15:27:24\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/PSVT/161/Deploy/1/Deploy\"/>\n    <Project name=\"PSVT :: Performance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17849\" lastBuildTime=\"2016-08-20T00:19:39\" webUrl=\"https://go.nbnco.net.au/go/pipelines/PSVT/161/Performance/1\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"PSVT :: Performance :: Performance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17849\" lastBuildTime=\"2016-08-20T00:19:39\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/PSVT/161/Performance/1/Performance\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Production :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17660\" lastBuildTime=\"2016-07-23T23:19:20\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Production/162/Deploy/1\"/>\n    <Project name=\"Production :: Deploy :: DeployDC1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17660\" lastBuildTime=\"2016-07-23T23:19:20\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Production/162/Deploy/1/DeployDC1\"/>\n    <Project name=\"Production :: Deploy :: DeployDC2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17660\" lastBuildTime=\"2016-07-23T23:18:07\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Production/162/Deploy/1/DeployDC2\"/>\n    <Project name=\"Production :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17660 :: 2\" lastBuildTime=\"2016-07-23T23:50:27\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Production/162/SmokeTest/2\"/>\n    <Project name=\"Production :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17660 :: 2\" lastBuildTime=\"2016-07-23T23:50:27\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Production/162/SmokeTest/2/SmokeTest\"/>\n    <Project name=\"ProdSupp :: Deploy\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772\" lastBuildTime=\"2016-08-11T14:10:11\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ProdSupp/131/Deploy/1\"/>\n    <Project name=\"ProdSupp :: Deploy :: DeployDC1\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772\" lastBuildTime=\"2016-08-11T14:10:11\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ProdSupp/131/Deploy/1/DeployDC1\"/>\n    <Project name=\"ProdSupp :: Deploy :: DeployDC2\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772\" lastBuildTime=\"2016-08-11T14:08:44\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ProdSupp/131/Deploy/1/DeployDC2\"/>\n    <Project name=\"ProdSupp :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772\" lastBuildTime=\"2016-08-11T14:12:52\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ProdSupp/131/SmokeTest/1\"/>\n    <Project name=\"ProdSupp :: SmokeTest :: SmokeTest\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772\" lastBuildTime=\"2016-08-11T14:12:52\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ProdSupp/131/SmokeTest/1/SmokeTest\"/>\n    <Project name=\"SPortalPreProdDbBackup :: DbExport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17296\" lastBuildTime=\"2016-06-03T11:04:12\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SPortalPreProdDbBackup/6/DbExport/1\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"SPortalPreProdDbBackup :: DbExport :: DbExport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17296\" lastBuildTime=\"2016-06-03T11:04:12\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SPortalPreProdDbBackup/6/DbExport/1/DbExport\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"SPortalPreProdDbRefresh :: DbExport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17062\" lastBuildTime=\"2016-04-29T00:50:37\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SPortalPreProdDbRefresh/15/DbExport/1\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: DbExport :: DbExport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17062\" lastBuildTime=\"2016-04-29T00:50:37\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SPortalPreProdDbRefresh/15/DbExport/1/DbExport\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: ApplicationStop\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.15050 :: 4\" lastBuildTime=\"2015-08-17T21:32:38\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SPortalPreProdDbRefresh/14/ApplicationStop/4\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: ApplicationStop :: ApplicationStop\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.15050 :: 4\" lastBuildTime=\"2015-08-17T21:32:38\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SPortalPreProdDbRefresh/14/ApplicationStop/4/ApplicationStop\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: DbImport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.15050 :: 2\" lastBuildTime=\"2015-08-17T21:51:05\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SPortalPreProdDbRefresh/14/DbImport/2\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: DbImport :: DbImport\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.15050 :: 2\" lastBuildTime=\"2015-08-17T21:51:05\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SPortalPreProdDbRefresh/14/DbImport/2/DbImport\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: ApplicationStart\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13947 :: 3\" lastBuildTime=\"2015-07-07T23:59:33\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SPortalPreProdDbRefresh/13/ApplicationStart/3\"/>\n    <Project name=\"SPortalPreProdDbRefresh :: ApplicationStart :: ApplicationStart\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.13947 :: 3\" lastBuildTime=\"2015-07-07T23:59:33\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SPortalPreProdDbRefresh/13/ApplicationStart/3/ApplicationStart\"/>\n    <Project name=\"ServicePortalSonar :: Analyse\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T16:59:18\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalSonar/2516/Analyse/1\"/>\n    <Project name=\"ServicePortalSonar :: Analyse :: ci\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17859\" lastBuildTime=\"2016-08-22T16:59:18\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalSonar/2516/Analyse/1/ci\"/>\n    <Project name=\"RegressionTest :: ALL\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17856\" lastBuildTime=\"2016-08-20T02:47:16\" webUrl=\"https://go.nbnco.net.au/go/pipelines/RegressionTest/1208/ALL/1\">\n        <messages>\n            <message text=\"Andrew Cunningham <old.noakes@gmail.com>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"RegressionTest :: ALL :: regression\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17856\" lastBuildTime=\"2016-08-20T02:47:16\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/RegressionTest/1208/ALL/1/regression\">\n        <messages>\n            <message text=\"Andrew Cunningham <old.noakes@gmail.com>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"RegressionXmlTest :: ALL\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772 :: 2\" lastBuildTime=\"2016-08-10T15:07:22\" webUrl=\"https://go.nbnco.net.au/go/pipelines/RegressionXmlTest/124/ALL/2\"/>\n    <Project name=\"RegressionXmlTest :: ALL :: regression\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"2.17772 :: 2\" lastBuildTime=\"2016-08-10T15:07:22\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/RegressionXmlTest/124/ALL/2/regression\"/>\n    <Project name=\"SIT2-AcceptanceTest :: DataPreparation\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17485\" lastBuildTime=\"2016-06-21T16:16:32\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SIT2-AcceptanceTest/16/DataPreparation/1\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"SIT2-AcceptanceTest :: DataPreparation :: DataPreparation\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17485\" lastBuildTime=\"2016-06-21T16:16:32\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SIT2-AcceptanceTest/16/DataPreparation/1/DataPreparation\">\n        <messages>\n            <message text=\"Tim <timtkachenko@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"SIT2-AcceptanceTest :: Verification\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.14267\" lastBuildTime=\"2015-05-22T16:03:53\" webUrl=\"https://go.nbnco.net.au/go/pipelines/SIT2-AcceptanceTest/12/Verification/1\"/>\n    <Project name=\"SIT2-AcceptanceTest :: Verification :: Verification\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.14267\" lastBuildTime=\"2015-05-22T16:03:53\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/SIT2-AcceptanceTest/12/Verification/1/Verification\"/>\n    <Project name=\"Selenium-Tests :: Acceptance\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:40:23\" webUrl=\"https://go.nbnco.net.au/go/pipelines/Selenium-Tests/5250/Acceptance/1\">\n        <messages>\n            <message text=\"Sung Woo Kim <sungwookim@nbnco.com.au>, Steven Hui <stevenhui@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Selenium-Tests :: Acceptance :: selenium_tests_with_curr_toggles\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:40:23\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Selenium-Tests/5250/Acceptance/1/selenium_tests_with_curr_toggles\">\n        <messages>\n            <message text=\"Sung Woo Kim <sungwookim@nbnco.com.au>, Steven Hui <stevenhui@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"Selenium-Tests :: Acceptance :: selenium_tests_with_next_toggles\" activity=\"Sleeping\" lastBuildStatus=\"Failure\" lastBuildLabel=\"2.17863\" lastBuildTime=\"2016-08-22T17:40:11\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/Selenium-Tests/5250/Acceptance/1/selenium_tests_with_next_toggles\">\n        <messages>\n            <message text=\"Sung Woo Kim <sungwookim@nbnco.com.au>, Steven Hui <stevenhui@nbnco.com.au>\" kind=\"Breakers\"/>\n        </messages>\n    </Project>\n    <Project name=\"ServicePortalTemplatesUploadingAutomationCI :: BuildPackage\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.223\" lastBuildTime=\"2016-08-17T10:12:34\" webUrl=\"https://go.nbnco.net.au/go/pipelines/ServicePortalTemplatesUploadingAutomationCI/223/BuildPackage/1\"/>\n    <Project name=\"ServicePortalTemplatesUploadingAutomationCI :: BuildPackage :: BuildAndPublish\" activity=\"Sleeping\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.223\" lastBuildTime=\"2016-08-17T10:12:34\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalTemplatesUploadingAutomationCI/223/BuildPackage/1/BuildAndPublish\"/>\n    \n    <Project name=\"STest :: BuildPackage :: BuildAndPublish\" activity=\"Building\" lastBuildStatus=\"Success\" lastBuildLabel=\"1.223\" lastBuildTime=\"2016-08-17T10:12:34\" webUrl=\"https://go.nbnco.net.au/go/tab/build/detail/ServicePortalTemplatesUploadingAutomationCI/223/BuildPackage/1/BuildAndPublish\"/>\n\n</Projects>",
        "x": 648.9523849487305,
        "y": 432.5714168548584,
        "wires": [
            [
                "14b177ea.c71c98"
            ]
        ]
    },
    {
        "id": "13c78130.cd32ff",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Build filename",
        "func": "msg.filename = \"node/static/js/pipelineregistry/\" + msg.serverInfo.serverType.toLowerCase() + \"/extractProjects.js\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280.57142639160156,
        "y": 579,
        "wires": [
            [
                "53973063.7939"
            ]
        ]
    },
    {
        "id": "b1bf1f98.4b6c3",
        "type": "function",
        "z": "9452f842.635e38",
        "name": "Retrieve Devices with pipeline status",
        "func": "msg.topic = \"\" +\n\" SELECT Devices.mac, Patterns.pattern,  Devices.brightness, PipeLines.status \" +\n\" FROM Devices\" +\n\"   INNER JOIN PipeLines\" +\n\"     ON Devices.pipelineId = PipeLines.id\" +\n\"   INNER JOIN Patterns\" +\n\"     ON Devices.patternId = Patterns.id;\"\n;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 555.214298248291,
        "y": 80.42857074737549,
        "wires": [
            [
                "463175.a398ae8c"
            ]
        ]
    },
    {
        "id": "f928f9cb.4632d8",
        "type": "file function",
        "z": "ffd18aea.469058",
        "name": "Build server url",
        "filename": "node/static/js/common/urlWithUserNameAndPassword.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 382,
        "y": 480.28570556640625,
        "wires": [
            [
                "50d8e7a.6e30518"
            ]
        ]
    },
    {
        "id": "463175.a398ae8c",
        "type": "mysql",
        "z": "9452f842.635e38",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 888.857177734375,
        "y": 81.71429443359375,
        "wires": [
            [
                "12912dd9.ba8fc2"
            ]
        ]
    },
    {
        "id": "1292aada.25b945",
        "type": "mysql",
        "z": "ffd18aea.469058",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 908,
        "y": 279,
        "wires": [
            [
                "6183174c.4d1268"
            ]
        ]
    },
    {
        "id": "4bf5b950.2a45d8",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Retrieve Devices with pipeline and server info",
        "func": "msg.topic = \"\" +\n\" SELECT CiServerTypes.serverType, CiServers.id as serverId, CiServers.username, CiServers.password, CiServers.cctrayUrl\" +\n\" FROM  CiServers\" +\n\"   INNER JOIN CiServerTypes\" +\n\"     ON CiServers.serverTypeId = CiServerTypes.id;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 581,
        "y": 280,
        "wires": [
            [
                "1292aada.25b945"
            ]
        ]
    },
    {
        "id": "3f80f814.a109e8",
        "type": "change",
        "z": "ffd18aea.469058",
        "name": "store CiServerInfo",
        "rules": [
            {
                "t": "set",
                "p": "serverInfo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 132,
        "y": 479,
        "wires": [
            [
                "f928f9cb.4632d8"
            ]
        ]
    },
    {
        "id": "873de68f.e20da8",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Prepare Sql to insert pipelines",
        "func": "var nullOrValueWithQuotes = function (obj) {\n    return (obj === null || obj === undefined)?null:\"'\"+obj+\"'\";\n};\n\nvar pipeline = msg.payload;\nvar serverInfo = msg.serverInfo;\n\nmsg.topic = \"\" +\n\"INSERT INTO PipeLines (\" +\n\"  serverId,\" +\n\"  pipeline,\" +\n\"  status,\" +\n\"  lastBuildStatus,\" +\n\"  lastUpdateAt\" +\n\")\" +\n\"VALUES (\" +\n   serverInfo.serverId + \",\" +\n   nullOrValueWithQuotes(pipeline.projectName) + \",\" +\n   nullOrValueWithQuotes(pipeline.status) + \",\" +\n   nullOrValueWithQuotes(pipeline.lastBuildStatus) + \",\" +\n\"  now()\" +\n\")\" +\n\"ON DUPLICATE KEY UPDATE\" +\n\"  status = \" + nullOrValueWithQuotes(pipeline.status) + \",\" +\n\"  lastBuildStatus = \" + nullOrValueWithQuotes(pipeline.lastBuildStatus) + \",\" +\n\"  lastUpdateAt = now();\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 489,
        "y": 681,
        "wires": [
            [
                "19b38adb.132715"
            ]
        ]
    },
    {
        "id": "324e1228.93381e",
        "type": "catch",
        "z": "7eb46653.6ccb18",
        "name": "Catch server save errors",
        "scope": [
            "fa5c4ec1.11d5c"
        ],
        "x": 621,
        "y": 191,
        "wires": [
            [
                "4425dd41.b69e64"
            ]
        ]
    },
    {
        "id": "4425dd41.b69e64",
        "type": "function",
        "z": "7eb46653.6ccb18",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 866.5,
        "y": 190,
        "wires": [
            [
                "e32a2a83.8659f8"
            ]
        ]
    },
    {
        "id": "65581bee.c05c94",
        "type": "catch",
        "z": "7eb46653.6ccb18",
        "name": "Catch retrieve CI server errors",
        "scope": [
            "c6439cdd.8e1ff"
        ],
        "x": 485,
        "y": 317,
        "wires": [
            [
                "56956a17.805f74"
            ]
        ]
    },
    {
        "id": "56956a17.805f74",
        "type": "function",
        "z": "7eb46653.6ccb18",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720.5,
        "y": 316,
        "wires": [
            [
                "77ad11f8.1738c"
            ]
        ]
    },
    {
        "id": "d4adc445.0ca448",
        "type": "catch",
        "z": "94ee4800.b63ff8",
        "name": "Catch retrieve CI Server Types errors",
        "scope": [
            "70f5a9ec.084228"
        ],
        "x": 515,
        "y": 182,
        "wires": [
            [
                "ec0e2734.099708"
            ]
        ]
    },
    {
        "id": "ec0e2734.099708",
        "type": "function",
        "z": "94ee4800.b63ff8",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783.5,
        "y": 181,
        "wires": [
            [
                "310d2b87.4634d4"
            ]
        ]
    },
    {
        "id": "f65d5ee.c3317a",
        "type": "http response",
        "z": "4cc0e4ce.67e46c",
        "name": "Response",
        "x": 899,
        "y": 122,
        "wires": []
    },
    {
        "id": "4991a02e.e198b",
        "type": "function",
        "z": "4cc0e4ce.67e46c",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 712.5,
        "y": 176,
        "wires": [
            [
                "f65d5ee.c3317a"
            ]
        ]
    },
    {
        "id": "c87c74ed.a4b448",
        "type": "catch",
        "z": "4cc0e4ce.67e46c",
        "name": "Catch retrieve patterns errors",
        "scope": [
            "e29bcec7.1501a"
        ],
        "x": 465,
        "y": 175,
        "wires": [
            [
                "4991a02e.e198b"
            ]
        ]
    },
    {
        "id": "1dca4fbf.b828",
        "type": "http response",
        "z": "ffd18aea.469058",
        "name": "Response",
        "x": 935,
        "y": 121,
        "wires": []
    },
    {
        "id": "998a4f8c.57b86",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 685.5,
        "y": 204,
        "wires": [
            [
                "1dca4fbf.b828"
            ]
        ]
    },
    {
        "id": "c54cbd8d.f5258",
        "type": "catch",
        "z": "ffd18aea.469058",
        "name": "Catch retrieve pipelines errors",
        "scope": [
            "bc7b67d9.6517f8",
            "ee63e006.b9c7b"
        ],
        "x": 370,
        "y": 204,
        "wires": [
            [
                "998a4f8c.57b86"
            ]
        ]
    },
    {
        "id": "904ff746.7ce9a8",
        "type": "http response",
        "z": "d0a3b329.d2df1",
        "name": "Response",
        "x": 910,
        "y": 297,
        "wires": []
    },
    {
        "id": "3df0c4e3.1bd57c",
        "type": "function",
        "z": "d0a3b329.d2df1",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 672.5,
        "y": 353,
        "wires": [
            [
                "904ff746.7ce9a8"
            ]
        ]
    },
    {
        "id": "67dbb70.1f8ec48",
        "type": "catch",
        "z": "d0a3b329.d2df1",
        "name": "Catch device save errors",
        "scope": [
            "449636b6.1f4168",
            "5ad3cd9e.e66b24"
        ],
        "x": 401,
        "y": 352,
        "wires": [
            [
                "3df0c4e3.1bd57c"
            ]
        ]
    },
    {
        "id": "5ec65edd.cf6c6",
        "type": "http response",
        "z": "d0a3b329.d2df1",
        "name": "Response",
        "x": 919,
        "y": 461,
        "wires": []
    },
    {
        "id": "d58e30e6.1b37d",
        "type": "function",
        "z": "d0a3b329.d2df1",
        "name": "Error response",
        "func": "msg.statusCode=500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 674.5,
        "y": 515,
        "wires": [
            [
                "5ec65edd.cf6c6"
            ]
        ]
    },
    {
        "id": "95896b0f.57f628",
        "type": "catch",
        "z": "d0a3b329.d2df1",
        "name": "Catch retrieve devices errors",
        "scope": [
            "a5feb541.5d5b08",
            "68d0fc75.774fd4"
        ],
        "x": 360,
        "y": 515,
        "wires": [
            [
                "d58e30e6.1b37d"
            ]
        ]
    },
    {
        "id": "4ff2507f.911f6",
        "type": "json",
        "z": "d0a3b329.d2df1",
        "name": "",
        "x": 307.5,
        "y": 98,
        "wires": [
            [
                "718e86c4.c7fa38"
            ]
        ]
    },
    {
        "id": "34762a77.d33066",
        "type": "mqtt out",
        "z": "5914c4a1.24372c",
        "name": "Send build status message over mqtt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "e2692e86.5cfdf",
        "x": 665,
        "y": 172,
        "wires": []
    },
    {
        "id": "5ada8df8.48d9c4",
        "type": "debug",
        "z": "5914c4a1.24372c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 251,
        "y": 330,
        "wires": []
    },
    {
        "id": "7850a4a2.64e2fc",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Retrieve all Pipelines",
        "func": "msg.topic = \"Select id, serverId, pipeline, status from PipeLines;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 418.5,
        "y": 164,
        "wires": [
            [
                "bc7b67d9.6517f8"
            ]
        ]
    },
    {
        "id": "8d37e208.3e919",
        "type": "http in",
        "z": "ffd18aea.469058",
        "name": "Get all pipelines",
        "url": "/allPipelines",
        "method": "get",
        "swaggerDoc": "",
        "x": 123,
        "y": 165,
        "wires": [
            [
                "7850a4a2.64e2fc"
            ]
        ]
    }
]