bbl_flows.json
[
    {
        "id": "94ee4800.b63ff8",
        "type": "tab",
        "label": "CI Server Types"
    },
    {
        "id": "4cc0e4ce.67e46c",
        "type": "tab",
        "label": "Patterns"
    },
    {
        "id": "7eb46653.6ccb18",
        "type": "tab",
        "label": "Sever Registry"
    },
    {
        "id": "ffd18aea.469058",
        "type": "tab",
        "label": "Pipeline Registry"
    },
    {
        "id": "152d639d.7d86fc",
        "type": "tab",
        "label": "Device Registry"
    },
    {
        "id": "afcdb9fe.f99d18",
        "type": "tab",
        "label": "Static Web"
    },
    {
        "id": "9452f842.635e38",
        "type": "tab",
        "label": "Build Response Parser and Message Sender"
    },
    {
        "id": "5914c4a1.24372c",
        "type": "tab",
        "label": "Firmware"
    },
    {
        "id": "423e0637.550f08",
        "type": "json-db-collection",
        "z": "152d639d.7d86fc",
        "name": "bbl",
        "collection": "devices",
        "save": true
    },
    {
        "id": "f0504b7f.120998",
        "type": "websocket-listener",
        "z": "152d639d.7d86fc",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "4a2392dc.8b20fc",
        "type": "websocket-listener",
        "z": "afcdb9fe.f99d18",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "b96c06bc.c67428",
        "type": "tls-config",
        "z": "afcdb9fe.f99d18",
        "name": "NBN certificate",
        "cert": "./certificates/certificate.pem",
        "key": "./certificates/privatekey.pem",
        "ca": "",
        "verifyservercert": false
    },
    {
        "id": "db29c472.907f68",
        "type": "tls-config",
        "z": "9452f842.635e38",
        "name": "",
        "cert": "./certificates/certificate.pem",
        "key": "./certificates/privatekey.pem",
        "ca": "",
        "verifyservercert": false
    },
    {
        "id": "e2692e86.5cfdf",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6ab7cac6.de42f4",
        "type": "MySQLdatabase",
        "z": "",
        "host": "mysql",
        "port": "3306",
        "db": "buildlights",
        "tz": ""
    },
    {
        "id": "859778e.645e188",
        "type": "udp in",
        "z": "152d639d.7d86fc",
        "name": "",
        "iface": "",
        "port": "9001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 101,
        "y": 100,
        "wires": [
            [
                "f1b8c233.7c40f"
            ]
        ]
    },
    {
        "id": "49ca179d.b33b78",
        "type": "function",
        "z": "152d639d.7d86fc",
        "name": "prepare entry",
        "func": "\nvar isNull = function(obj) {\n\treturn (obj === null || obj === undefined || obj === \"\");\n};\n\nvar pattern = '';\nvar pipeline = '';\nvar ciServer = '';\nvar macInfo = msg.macInfo;\nvar mac = macInfo.substring(0, macInfo.indexOf(':'));\n\nvar devices = msg.devices;\nif (!isNull(devices) && !isNull(devices[mac])) {\n    if (!isNull(devices[mac].pattern)) {\n\t    pattern = devices[mac].pattern;\n    }\n    if (!isNull(devices[mac].pipeline)) {\n\t    pipeline = devices[mac].pipeline;\n    }\n    if (!isNull(devices[mac].ciServer)) {\n\t    ciServer = devices[mac].ciServer;\n    }\n}\n\nmsg.payload = {\n    'mac':mac,\n    'ip':msg.ip,\n    'port':msg.port,\n    'pattern':pattern,\n    'pipeline':pipeline,\n    'ciServer':ciServer,\n    'lastMessage':msg.payload.substring(macInfo.indexOf(':')+1),\n    'lastSeen':new Date()\n};\nmsg.datapath = '/devices/' + mac;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411,
        "y": 200,
        "wires": [
            [
                "7ab9baaa.f85994",
                "e908606f.be491"
            ]
        ]
    },
    {
        "id": "7ab9baaa.f85994",
        "type": "DataIn",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "save DB",
        "update": false,
        "path": "/",
        "x": 759,
        "y": 240,
        "wires": []
    },
    {
        "id": "37a8de08.50ac62",
        "type": "http in",
        "z": "152d639d.7d86fc",
        "name": "",
        "url": "/devices",
        "method": "get",
        "swaggerDoc": "",
        "x": 111,
        "y": 561,
        "wires": [
            [
                "ec5e71f.c3a119"
            ]
        ]
    },
    {
        "id": "ec5e71f.c3a119",
        "type": "DataOut",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "load DB",
        "path": "/",
        "error": false,
        "x": 339,
        "y": 561,
        "wires": [
            [
                "f4bcba16.d30fa8"
            ]
        ]
    },
    {
        "id": "e2bd5972.227298",
        "type": "http response",
        "z": "152d639d.7d86fc",
        "name": "",
        "x": 769,
        "y": 561,
        "wires": []
    },
    {
        "id": "41402557.91666c",
        "type": "comment",
        "z": "152d639d.7d86fc",
        "name": "Process UDP beakon from device",
        "info": "",
        "x": 161,
        "y": 44,
        "wires": []
    },
    {
        "id": "51588c2e.51e2b4",
        "type": "comment",
        "z": "152d639d.7d86fc",
        "name": "REST GET all devices",
        "info": "",
        "x": 120,
        "y": 501,
        "wires": []
    },
    {
        "id": "ac29613d.4d9c5",
        "type": "comment",
        "z": "152d639d.7d86fc",
        "name": "Clear DB",
        "info": "",
        "x": 80,
        "y": 621,
        "wires": []
    },
    {
        "id": "84466a5b.e9d998",
        "type": "inject",
        "z": "152d639d.7d86fc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125,
        "y": 681,
        "wires": [
            [
                "cb01cace.512988"
            ]
        ]
    },
    {
        "id": "a9a29bb0.6ddcc8",
        "type": "DataIn",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "save DB",
        "update": false,
        "path": "/",
        "x": 759,
        "y": 681,
        "wires": []
    },
    {
        "id": "92522118.3979b",
        "type": "comment",
        "z": "152d639d.7d86fc",
        "name": "Send 'tickle' UDP to all devices",
        "info": "",
        "x": 144,
        "y": 739,
        "wires": []
    },
    {
        "id": "730f0796.df2b18",
        "type": "inject",
        "z": "152d639d.7d86fc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126,
        "y": 800,
        "wires": [
            [
                "daf8e80b.348988"
            ]
        ]
    },
    {
        "id": "daf8e80b.348988",
        "type": "DataOut",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "load DB",
        "path": "/devices",
        "error": false,
        "x": 299,
        "y": 800,
        "wires": [
            [
                "6cf16f43.7bb03"
            ]
        ]
    },
    {
        "id": "aa60a585.b45918",
        "type": "udp out",
        "z": "152d639d.7d86fc",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 679,
        "y": 869,
        "wires": []
    },
    {
        "id": "6cf16f43.7bb03",
        "type": "function",
        "z": "152d639d.7d86fc",
        "name": "iterate through all device and send them black color",
        "func": "var messages=[];\nfor(var mac in msg.payload){\n    var dev = msg.payload[mac];\n    var tickleMessage = {\n        'ip':dev.ip, \n        'port':dev.port,\n        'payload':'{\"command\":\"buildStatus\",\"pattern\":\"'+dev.pattern+'\",\"buildStatus\":\"failed\"}'\n    };\n    console.log(tickleMessage);\n    messages.push(tickleMessage);\n}\nreturn messages;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 619,
        "y": 800,
        "wires": [
            [
                "aa60a585.b45918"
            ]
        ]
    },
    {
        "id": "c0fc7445.7244c8",
        "type": "change",
        "z": "152d639d.7d86fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devices",
                "pt": "msg",
                "to": "payload.devices",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120.5,
        "y": 200,
        "wires": [
            [
                "49ca179d.b33b78"
            ]
        ]
    },
    {
        "id": "acd1a4eb.a36a28",
        "type": "DataOut",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "Get devices",
        "path": "/",
        "error": false,
        "x": 749,
        "y": 100,
        "wires": [
            [
                "c0fc7445.7244c8"
            ]
        ]
    },
    {
        "id": "f1b8c233.7c40f",
        "type": "change",
        "z": "152d639d.7d86fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "macInfo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 421,
        "y": 100,
        "wires": [
            [
                "acd1a4eb.a36a28"
            ]
        ]
    },
    {
        "id": "e908606f.be491",
        "type": "websocket out",
        "z": "152d639d.7d86fc",
        "name": "/ws/test out",
        "server": "f0504b7f.120998",
        "client": "",
        "x": 749,
        "y": 160,
        "wires": []
    },
    {
        "id": "36ed2188.74e47e",
        "type": "http in",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "url": "/web/*",
        "method": "get",
        "swaggerDoc": "",
        "x": 92,
        "y": 60,
        "wires": [
            [
                "efa8ebbc.a85ec8"
            ]
        ]
    },
    {
        "id": "8c862817.4062a8",
        "type": "http response",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "x": 669,
        "y": 199,
        "wires": []
    },
    {
        "id": "a242a570.c97278",
        "type": "file in",
        "z": "afcdb9fe.f99d18",
        "name": "binary file",
        "filename": "",
        "format": "",
        "x": 281,
        "y": 160,
        "wires": [
            [
                "784ff6c9.654c88"
            ]
        ]
    },
    {
        "id": "efa8ebbc.a85ec8",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "url rewrite",
        "func": "msg.filename = msg.req.url\n    .replace(\"/web/\", \"./web/\")\n    .replace(/\\?.*/,\"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320.9999694824219,
        "y": 60,
        "wires": [
            [
                "a1aae15e.63d66"
            ]
        ]
    },
    {
        "id": "ffc69cda.4a352",
        "type": "catch",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "scope": null,
        "x": 80.83332824707031,
        "y": 600.0000610351562,
        "wires": [
            [
                "a84b42ce.f397f"
            ]
        ]
    },
    {
        "id": "a84b42ce.f397f",
        "type": "debug",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 374.8333435058594,
        "y": 600.0000610351562,
        "wires": []
    },
    {
        "id": "a8ef1fff.3fbbb",
        "type": "websocket out",
        "z": "afcdb9fe.f99d18",
        "name": "/ws/test out",
        "server": "4a2392dc.8b20fc",
        "client": "",
        "x": 649.6666259765625,
        "y": 480.66668701171875,
        "wires": []
    },
    {
        "id": "bb86f12c.2639e",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "beackon",
        "topic": "",
        "payload": "{\"ip\":\"127.0.0.1\", \"project\":\"BBL\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.6666259765625,
        "y": 419.66668701171875,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "6dddbdbb.63b8c4",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "topic": "",
        "payload": "{'a':123}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 108.94792175292969,
        "y": 479.65972900390625,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "e2eac90.0965638",
        "type": "inject",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.94792175292969,
        "y": 539.7708435058594,
        "wires": [
            [
                "e5ba496b.5cd3e8"
            ]
        ]
    },
    {
        "id": "e5ba496b.5cd3e8",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "delete msg session",
        "func": "delete msg._session;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360.94793701171875,
        "y": 540.625,
        "wires": [
            [
                "a8ef1fff.3fbbb"
            ]
        ]
    },
    {
        "id": "e090767.8c99688",
        "type": "http in",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "url": "/proxy*",
        "method": "get",
        "swaggerDoc": "",
        "x": 91,
        "y": 340,
        "wires": [
            [
                "8c63905.b25fe7"
            ]
        ]
    },
    {
        "id": "eb2f177a.a20d78",
        "type": "http response",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "x": 669,
        "y": 340,
        "wires": []
    },
    {
        "id": "7185eab2.0568f4",
        "type": "http request",
        "z": "afcdb9fe.f99d18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "b96c06bc.c67428",
        "x": 489,
        "y": 340,
        "wires": [
            [
                "eb2f177a.a20d78"
            ]
        ]
    },
    {
        "id": "8c63905.b25fe7",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "url",
        "func": "msg.url=msg.payload.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291,
        "y": 340,
        "wires": [
            [
                "7185eab2.0568f4"
            ]
        ]
    },
    {
        "id": "86cc0f64.620d4",
        "type": "udp out",
        "z": "9452f842.635e38",
        "name": "Send build status message",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 539,
        "y": 440,
        "wires": []
    },
    {
        "id": "6ba8835b.8a866c",
        "type": "http request",
        "z": "9452f842.635e38",
        "name": "Request to get build status",
        "method": "GET",
        "ret": "txt",
        "url": "https://go12.nbnco.net.au/go/cctray.xml",
        "tls": "db29c472.907f68",
        "x": 539,
        "y": 199,
        "wires": [
            [
                "9ceab431.54a628"
            ]
        ]
    },
    {
        "id": "89a806fc.b44ad8",
        "type": "inject",
        "z": "9452f842.635e38",
        "name": "Trigger for build status request",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 216,
        "y": 80,
        "wires": [
            [
                "3e609201.f5126e"
            ]
        ]
    },
    {
        "id": "12912dd9.ba8fc2",
        "type": "split",
        "z": "9452f842.635e38",
        "name": "",
        "splt": "\\n",
        "x": 609.5,
        "y": 319,
        "wires": [
            [
                "5c1dcacf.082234"
            ]
        ]
    },
    {
        "id": "9ceab431.54a628",
        "type": "xml",
        "z": "9452f842.635e38",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 111,
        "y": 319,
        "wires": [
            [
                "be9e44c5.a394f8"
            ]
        ]
    },
    {
        "id": "3e609201.f5126e",
        "type": "http request",
        "z": "9452f842.635e38",
        "name": "Get list of devices",
        "method": "GET",
        "ret": "obj",
        "url": "http://127.0.0.1:1880/devices",
        "tls": "",
        "x": 568.5,
        "y": 80,
        "wires": [
            [
                "93a6488b.5b9628"
            ]
        ]
    },
    {
        "id": "93a6488b.5b9628",
        "type": "change",
        "z": "9452f842.635e38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devices",
                "pt": "msg",
                "to": "payload.devices",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 141.5,
        "y": 199,
        "wires": [
            [
                "6ba8835b.8a866c"
            ]
        ]
    },
    {
        "id": "784ff6c9.654c88",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "mime types",
        "func": "if (msg.filename.indexOf(\".ttf\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-sfnt\"};\n}else if (msg.filename.indexOf(\".woff\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-woff\"};\n}else if (msg.filename.indexOf(\".woff2\")>0){\n     msg.headers = { \"Content-type\" : \"application/font-woff2\"};\n}else if (msg.filename.indexOf(\".js\")>0){\n     msg.headers = { \"Content-type\" : \"text/javascript\"};\n}else if (msg.filename.indexOf(\".css\")>0){\n     msg.headers = { \"Content-type\" : \"text/css\"};\n}else if (msg.filename.indexOf(\".png\")>0){\n     msg.headers = { \"Content-type\" : \"image/png\"};\n}else if (msg.filename.indexOf(\".json\")>0){\n     msg.headers = { \"Content-type\" : \"application/json\"};\n}else if (msg.filename.indexOf(\".svg\")>0){\n     msg.headers = { \"Content-type\" : \"image/svg+xml\"};\n}else if (msg.filename.indexOf(\".eot\")>0){\n     msg.headers = { \"Content-type\" : \"application/vnd.ms-fontobject\"};\n}else {\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 199,
        "wires": [
            [
                "8c862817.4062a8"
            ]
        ]
    },
    {
        "id": "a1aae15e.63d66",
        "type": "function",
        "z": "afcdb9fe.f99d18",
        "name": "decide binary or text",
        "func": "var binaryExts=[\".png\", \".gif\", \".ttf\", \"woff\", \"woff2\", \".svg\", \".eot\"];\nmsg.isBinary=false;\nfor(var binaryExtNdx in binaryExts){\n    if (msg.filename.indexOf(binaryExts[binaryExtNdx])>0){\n        msg.isBinary=true;\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 59,
        "wires": [
            [
                "9d589c9.78c3d6"
            ]
        ]
    },
    {
        "id": "9d589c9.78c3d6",
        "type": "switch",
        "z": "afcdb9fe.f99d18",
        "name": "isBinary",
        "property": "isBinary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 81,
        "y": 200,
        "wires": [
            [
                "a242a570.c97278"
            ],
            [
                "26834d88.a30782"
            ]
        ]
    },
    {
        "id": "26834d88.a30782",
        "type": "file in",
        "z": "afcdb9fe.f99d18",
        "name": "text file",
        "filename": "",
        "format": "utf8",
        "x": 282,
        "y": 239,
        "wires": [
            [
                "784ff6c9.654c88"
            ]
        ]
    },
    {
        "id": "d2c84333.7a474",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade",
        "url": "/triggerUpgrade",
        "method": "post",
        "swaggerDoc": "",
        "x": 121,
        "y": 80,
        "wires": [
            [
                "225d2975.d020b6",
                "88d9992a.6b1038"
            ]
        ]
    },
    {
        "id": "225d2975.d020b6",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Success Response",
        "x": 609,
        "y": 80,
        "wires": []
    },
    {
        "id": "19ec3e77.a01d42",
        "type": "udp out",
        "z": "5914c4a1.24372c",
        "name": "Send upgrade request",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 599,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e62c0c.588364",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Get Firware",
        "url": "/firmware",
        "method": "get",
        "swaggerDoc": "",
        "x": 111,
        "y": 280,
        "wires": [
            [
                "dbd207c8.ccac38"
            ]
        ]
    },
    {
        "id": "8851e2cf.90703",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Firware Files As Response",
        "x": 579,
        "y": 280,
        "wires": []
    },
    {
        "id": "475fc601.724658",
        "type": "http in",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade For All",
        "url": "/triggerUpgradeForAll",
        "method": "post",
        "swaggerDoc": "",
        "x": 141,
        "y": 399,
        "wires": [
            [
                "c8f4ca05.a6ddf8",
                "ec841e35.80e46"
            ]
        ]
    },
    {
        "id": "14280cf9.74e993",
        "type": "http request",
        "z": "5914c4a1.24372c",
        "name": "Get list of devices",
        "method": "GET",
        "ret": "obj",
        "url": "http://127.0.0.1:1880/devices",
        "tls": "",
        "x": 609,
        "y": 441,
        "wires": [
            [
                "36f8dfc8.8a678"
            ]
        ]
    },
    {
        "id": "60c2d56c.01668c",
        "type": "http request",
        "z": "5914c4a1.24372c",
        "name": "Trigger Upgrade",
        "method": "POST",
        "ret": "txt",
        "url": "http://127.0.0.1:1880/triggerUpgrade",
        "tls": "",
        "x": 619.5,
        "y": 579,
        "wires": [
            []
        ]
    },
    {
        "id": "9b33cb8e.3a75f8",
        "type": "split",
        "z": "5914c4a1.24372c",
        "name": "",
        "splt": "\\n",
        "x": 90,
        "y": 579,
        "wires": [
            [
                "4356c7ca.982368"
            ]
        ]
    },
    {
        "id": "c8f4ca05.a6ddf8",
        "type": "http response",
        "z": "5914c4a1.24372c",
        "name": "Success Response",
        "x": 371,
        "y": 359,
        "wires": []
    },
    {
        "id": "4356c7ca.982368",
        "type": "change",
        "z": "5914c4a1.24372c",
        "name": "delete headers",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 359,
        "y": 579,
        "wires": [
            [
                "60c2d56c.01668c"
            ]
        ]
    },
    {
        "id": "ec841e35.80e46",
        "type": "change",
        "z": "5914c4a1.24372c",
        "name": "copy original payload",
        "rules": [
            {
                "t": "set",
                "p": "callbackUrl",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 381,
        "y": 441,
        "wires": [
            [
                "14280cf9.74e993"
            ]
        ]
    },
    {
        "id": "be9e44c5.a394f8",
        "type": "file function",
        "z": "9452f842.635e38",
        "name": "Parse build status",
        "filename": "node/static/js/buildstatus/parseBuildStatus.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 349.5,
        "y": 320,
        "wires": [
            [
                "12912dd9.ba8fc2"
            ]
        ]
    },
    {
        "id": "5c1dcacf.082234",
        "type": "file function",
        "z": "9452f842.635e38",
        "name": "Prepare build status message",
        "filename": "node/static/js/buildstatus/prepareAndSendBuildStatusMessage.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 191.5,
        "y": 440,
        "wires": [
            [
                "86cc0f64.620d4",
                "fdf72570.df7ec8"
            ]
        ]
    },
    {
        "id": "88d9992a.6b1038",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Prepare Upgrade Trigger",
        "filename": "node/static/js/firmware/prepareUpgradeTriggerMsg.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 336,
        "y": 180,
        "wires": [
            [
                "19ec3e77.a01d42"
            ]
        ]
    },
    {
        "id": "dbd207c8.ccac38",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Firmware Files",
        "filename": "node/static/js/firmware/firmwareFiles.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 321,
        "y": 280,
        "wires": [
            [
                "8851e2cf.90703"
            ]
        ]
    },
    {
        "id": "36f8dfc8.8a678",
        "type": "file function",
        "z": "5914c4a1.24372c",
        "name": "Build request payload",
        "filename": "node/static/js/firmware/buildRequestPayload.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 381,
        "y": 520,
        "wires": [
            [
                "9b33cb8e.3a75f8"
            ]
        ]
    },
    {
        "id": "cb01cace.512988",
        "type": "file function",
        "z": "152d639d.7d86fc",
        "name": "empty payload",
        "filename": "node/static/js/common/emptyPayload.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 447,
        "y": 681,
        "wires": [
            [
                "a9a29bb0.6ddcc8"
            ]
        ]
    },
    {
        "id": "f4bcba16.d30fa8",
        "type": "file function",
        "z": "152d639d.7d86fc",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 561,
        "y": 561,
        "wires": [
            [
                "e2bd5972.227298"
            ]
        ]
    },
    {
        "id": "3a16ad6a.d24842",
        "type": "DataIn",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "save DB",
        "update": false,
        "path": "/",
        "x": 759,
        "y": 439,
        "wires": []
    },
    {
        "id": "55e753ce.31e44c",
        "type": "function",
        "z": "152d639d.7d86fc",
        "name": "prepare entry",
        "func": "var deviceInfoToUpdate = msg.deviceInfoToUpdate;\nvar mac = deviceInfoToUpdate.mac;\nvar device = msg.devices[mac];\nmsg.payload = {\n    'mac': mac,\n    'ip': device.ip,\n    'port': device.port,\n    'pattern': deviceInfoToUpdate.pattern,\n    'pipeline': deviceInfoToUpdate.pipelineName,\n    'ciServer': deviceInfoToUpdate.ciServer,\n    'lastMessage': device.lastMessage,\n    'lastSeen': device.lastSeen\n};\nmsg.datapath = '/devices/' + mac;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 439,
        "wires": [
            [
                "3a16ad6a.d24842"
            ]
        ]
    },
    {
        "id": "3c67a0bb.87c92",
        "type": "change",
        "z": "152d639d.7d86fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devices",
                "pt": "msg",
                "to": "payload.devices",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 121,
        "y": 439,
        "wires": [
            [
                "55e753ce.31e44c"
            ]
        ]
    },
    {
        "id": "30b35c6d.b0eb04",
        "type": "DataOut",
        "z": "152d639d.7d86fc",
        "collection": "423e0637.550f08",
        "name": "Get devices",
        "path": "/",
        "error": false,
        "x": 749.5,
        "y": 361,
        "wires": [
            [
                "3c67a0bb.87c92"
            ]
        ]
    },
    {
        "id": "3152c1d.0098b3e",
        "type": "change",
        "z": "152d639d.7d86fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deviceInfoToUpdate",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 439,
        "y": 360,
        "wires": [
            [
                "30b35c6d.b0eb04"
            ]
        ]
    },
    {
        "id": "3a879929.538146",
        "type": "http in",
        "z": "152d639d.7d86fc",
        "name": "Update device info",
        "url": "/devices",
        "method": "post",
        "swaggerDoc": "",
        "x": 131,
        "y": 361,
        "wires": [
            [
                "8dbab261.83253",
                "3152c1d.0098b3e"
            ]
        ]
    },
    {
        "id": "8dbab261.83253",
        "type": "http response",
        "z": "152d639d.7d86fc",
        "name": "Success Response",
        "x": 451,
        "y": 279,
        "wires": []
    },
    {
        "id": "cce346f8.35d068",
        "type": "comment",
        "z": "152d639d.7d86fc",
        "name": "Update device info",
        "info": "",
        "x": 110,
        "y": 299,
        "wires": []
    },
    {
        "id": "fdf72570.df7ec8",
        "type": "mqtt out",
        "z": "9452f842.635e38",
        "name": "Send build status message over mqtt",
        "topic": "/bbl/statusMessage",
        "qos": "2",
        "retain": "",
        "broker": "e2692e86.5cfdf",
        "x": 606,
        "y": 514,
        "wires": []
    },
    {
        "id": "c0e1f4dc.b9fcb8",
        "type": "mqtt in",
        "z": "152d639d.7d86fc",
        "name": "",
        "topic": "/bbl/deviceInfo",
        "qos": "2",
        "broker": "e2692e86.5cfdf",
        "x": 123,
        "y": 141,
        "wires": [
            [
                "f1b8c233.7c40f"
            ]
        ]
    },
    {
        "id": "310d2b87.4634d4",
        "type": "http response",
        "z": "94ee4800.b63ff8",
        "name": "",
        "x": 891,
        "y": 119,
        "wires": []
    },
    {
        "id": "c034739f.ae6db",
        "type": "file function",
        "z": "94ee4800.b63ff8",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 721,
        "y": 119,
        "wires": [
            [
                "310d2b87.4634d4"
            ]
        ]
    },
    {
        "id": "eae6052.e707cf8",
        "type": "http in",
        "z": "94ee4800.b63ff8",
        "name": "CI Server Types",
        "url": "/ciServerTypes",
        "method": "get",
        "swaggerDoc": "",
        "x": 122,
        "y": 119,
        "wires": [
            [
                "5f3cfd31.ea4494"
            ]
        ]
    },
    {
        "id": "27f23d86.6ee8a2",
        "type": "comment",
        "z": "94ee4800.b63ff8",
        "name": "REST GET CI Server Types",
        "info": "",
        "x": 132,
        "y": 62,
        "wires": []
    },
    {
        "id": "70f5a9ec.084228",
        "type": "mysql",
        "z": "94ee4800.b63ff8",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 551,
        "y": 119,
        "wires": [
            [
                "c034739f.ae6db"
            ]
        ]
    },
    {
        "id": "5f3cfd31.ea4494",
        "type": "function",
        "z": "94ee4800.b63ff8",
        "name": "Retrieve CI Server Types",
        "func": "msg.topic = \"Select * from CiServerTypes;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 349.5,
        "y": 119,
        "wires": [
            [
                "70f5a9ec.084228"
            ]
        ]
    },
    {
        "id": "454a9b4d.7e6a14",
        "type": "http in",
        "z": "7eb46653.6ccb18",
        "name": "Register server",
        "url": "/servers",
        "method": "post",
        "swaggerDoc": "",
        "x": 117,
        "y": 139,
        "wires": [
            [
                "e32a2a83.8659f8",
                "c6a6ba28.dce488"
            ]
        ]
    },
    {
        "id": "e32a2a83.8659f8",
        "type": "http response",
        "z": "7eb46653.6ccb18",
        "name": "Success Response",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6a6ba28.dce488",
        "type": "file function",
        "z": "7eb46653.6ccb18",
        "name": "Prepare server info to save",
        "filename": "node/static/js/serverregistry/serverInfoToInsert.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 438.5,
        "y": 139,
        "wires": [
            [
                "fa5c4ec1.11d5c"
            ]
        ]
    },
    {
        "id": "1080a49c.1c6d3b",
        "type": "http in",
        "z": "7eb46653.6ccb18",
        "name": "Get all servers",
        "url": "/servers",
        "method": "get",
        "swaggerDoc": "",
        "x": 107,
        "y": 260,
        "wires": [
            [
                "a8a610c8.b0b64"
            ]
        ]
    },
    {
        "id": "77ad11f8.1738c",
        "type": "http response",
        "z": "7eb46653.6ccb18",
        "name": "",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "7909d3bd.7fda1c",
        "type": "comment",
        "z": "7eb46653.6ccb18",
        "name": "REST GET all servers",
        "info": "",
        "x": 123,
        "y": 215,
        "wires": []
    },
    {
        "id": "f1c8ec9.1b1511",
        "type": "comment",
        "z": "7eb46653.6ccb18",
        "name": "Register server",
        "info": "",
        "x": 101,
        "y": 67,
        "wires": []
    },
    {
        "id": "86f5978b.40f208",
        "type": "file function",
        "z": "7eb46653.6ccb18",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 719.5,
        "y": 260,
        "wires": [
            [
                "77ad11f8.1738c"
            ]
        ]
    },
    {
        "id": "fa5c4ec1.11d5c",
        "type": "mysql",
        "z": "7eb46653.6ccb18",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 729,
        "y": 139,
        "wires": [
            []
        ]
    },
    {
        "id": "a8a610c8.b0b64",
        "type": "function",
        "z": "7eb46653.6ccb18",
        "name": "Retrieve CI servers",
        "func": "msg.topic = \"Select * from CiServers;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 331.5,
        "y": 260,
        "wires": [
            [
                "c6439cdd.8e1ff"
            ]
        ]
    },
    {
        "id": "c6439cdd.8e1ff",
        "type": "mysql",
        "z": "7eb46653.6ccb18",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "86f5978b.40f208"
            ]
        ]
    },
    {
        "id": "f272c64e.60f598",
        "type": "file function",
        "z": "ffd18aea.469058",
        "name": "Prepare pipelines info to save",
        "filename": "node/static/js/pipelineregistry/pipelinesToInsert.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 490.5,
        "y": 140,
        "wires": [
            [
                "19b38adb.132715"
            ]
        ]
    },
    {
        "id": "ca3e486c.0bf108",
        "type": "http in",
        "z": "ffd18aea.469058",
        "name": "Get all pipelines",
        "url": "/pipelines",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 281,
        "wires": [
            [
                "ee63e006.b9c7b"
            ]
        ]
    },
    {
        "id": "bf278fc1.b992a",
        "type": "http response",
        "z": "ffd18aea.469058",
        "name": "",
        "x": 910,
        "y": 281,
        "wires": []
    },
    {
        "id": "563ec839.1c77e8",
        "type": "comment",
        "z": "ffd18aea.469058",
        "name": "REST GET all pipelines",
        "info": "",
        "x": 123,
        "y": 236,
        "wires": []
    },
    {
        "id": "c8ed785f.d63668",
        "type": "comment",
        "z": "ffd18aea.469058",
        "name": "Register pipeline",
        "info": "",
        "x": 101,
        "y": 88,
        "wires": []
    },
    {
        "id": "30c1a379.dba8cc",
        "type": "file function",
        "z": "ffd18aea.469058",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 719.5,
        "y": 281,
        "wires": [
            [
                "bf278fc1.b992a"
            ]
        ]
    },
    {
        "id": "19b38adb.132715",
        "type": "mysql",
        "z": "ffd18aea.469058",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 729,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ee63e006.b9c7b",
        "type": "function",
        "z": "ffd18aea.469058",
        "name": "Retrieve Pipelines",
        "func": "msg.topic = \"Select id, pipeline from PipeLines where serverId = '';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340.5,
        "y": 281,
        "wires": [
            [
                "bc7b67d9.6517f8"
            ]
        ]
    },
    {
        "id": "bc7b67d9.6517f8",
        "type": "mysql",
        "z": "ffd18aea.469058",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 530,
        "y": 281,
        "wires": [
            [
                "30c1a379.dba8cc"
            ]
        ]
    },
    {
        "id": "2c30b83a.b6b4f8",
        "type": "inject",
        "z": "ffd18aea.469058",
        "name": "Trigger pipelines insertion",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "x": 186.5,
        "y": 140,
        "wires": [
            [
                "f272c64e.60f598"
            ]
        ]
    },
    {
        "id": "19ec7383.5756dc",
        "type": "http response",
        "z": "4cc0e4ce.67e46c",
        "name": "",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c1e7b02.910214",
        "type": "file function",
        "z": "4cc0e4ce.67e46c",
        "name": "HTTP headers",
        "filename": "node/static/js/common/contentTypeJsonHttpHeaders.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "19ec7383.5756dc"
            ]
        ]
    },
    {
        "id": "7274e27c.a2861c",
        "type": "http in",
        "z": "4cc0e4ce.67e46c",
        "name": "Patterns",
        "url": "/patterns",
        "method": "get",
        "swaggerDoc": "",
        "x": 101,
        "y": 120,
        "wires": [
            [
                "dbfceba5.d79df8"
            ]
        ]
    },
    {
        "id": "b5dd32a4.a18ce",
        "type": "comment",
        "z": "4cc0e4ce.67e46c",
        "name": "REST GET Patterns",
        "info": "",
        "x": 111,
        "y": 63,
        "wires": []
    },
    {
        "id": "e29bcec7.1501a",
        "type": "mysql",
        "z": "4cc0e4ce.67e46c",
        "mydb": "6ab7cac6.de42f4",
        "name": "DB",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "4c1e7b02.910214"
            ]
        ]
    },
    {
        "id": "dbfceba5.d79df8",
        "type": "function",
        "z": "4cc0e4ce.67e46c",
        "name": "Retrieve Patterns",
        "func": "msg.topic = \"Select * from Patterns;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310.5,
        "y": 120,
        "wires": [
            [
                "e29bcec7.1501a"
            ]
        ]
    }
]