wiringIOT/BuildResponseParserAndMessageSender.json
[{"id":"94f131bd.f47cc","type":"udp out","z":"471b09d1.9c6ea8","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":646,"y":326,"wires":[]},{"id":"e9481b33.b17268","type":"json","z":"471b09d1.9c6ea8","name":"","x":489.5,"y":326,"wires":[["94f131bd.f47cc"]]},{"id":"4e20ba0a.f40ef4","type":"function","z":"471b09d1.9c6ea8","name":"optimiseMessage","func":"if (msg === null || msg.payload === null) {\n    return null;\n}\n\nmsg.ip=msg.payload.ip;\nmsg.port=msg.payload.port;\n//msg.colorCode=msg.payload.colorCode;\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":326,"wires":[["e9481b33.b17268"]]},{"id":"76762cac.9679e4","type":"inject","z":"471b09d1.9c6ea8","name":"","topic":"","payload":"{ \"ip\": \"127.0.0.1\", \"port\": 49903, \"colorCode\": \"green\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":93,"y":325,"wires":[["4e20ba0a.f40ef4"]]},{"id":"c6ca0cc7.e9b25","type":"split","z":"471b09d1.9c6ea8","name":"","splt":"\\n","x":410,"y":234,"wires":[["4e20ba0a.f40ef4"]]},{"id":"891d86c.fe4c278","type":"function","z":"471b09d1.9c6ea8","name":"buildServerResponseParser","func":"\n//parse the javascript object and return an array of messages\n//for each environment as follows:\n\nmsg.payload = [\n        {\"ip\": \"127.0.0.1\", \"port\": 49903, \"colorCode\": \"green\"},\n        {\"ip\": \"127.0.0.1\", \"port\": 49904, \"colorCode\": \"red\"}\n    ];\nreturn msg;","outputs":1,"noerr":0,"x":181,"y":234,"wires":[["c6ca0cc7.e9b25"]]},{"id":"f1bd635d.d35ee","type":"xml","z":"471b09d1.9c6ea8","name":"","attr":"","chr":"","x":381,"y":146,"wires":[["891d86c.fe4c278"]]},{"id":"e1c9ee1a.03eba","type":"inject","z":"471b09d1.9c6ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":158,"wires":[["891d86c.fe4c278"]]},{"id":"39e490f2.7bb3c","type":"http request","z":"471b09d1.9c6ea8","name":"Request to get build status","method":"GET","ret":"obj","url":"https://go.nbnco.net.au/go/cctray.xml","tls":"","x":478,"y":86,"wires":[["f1bd635d.d35ee","c29994b5.c4d3c8"]]},{"id":"afe78668.3998c8","type":"inject","z":"471b09d1.9c6ea8","name":"Trigger for build status request","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":false,"x":170,"y":86,"wires":[["39e490f2.7bb3c"]]},{"id":"c29994b5.c4d3c8","type":"debug","z":"471b09d1.9c6ea8","name":"","active":true,"console":"false","complete":"false","x":622,"y":161,"wires":[]},{"id":"8986d31c.82f07","type":"debug","z":"471b09d1.9c6ea8","name":"","active":true,"console":"false","complete":"true","x":521,"y":439,"wires":[]},{"id":"d2465210.81b7c","type":"json","z":"471b09d1.9c6ea8","name":"","x":302,"y":440,"wires":[["8986d31c.82f07"]]},{"id":"c4d0db09.5eb288","type":"udp in","z":"471b09d1.9c6ea8","name":"","iface":"","port":"49903","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":84,"y":441,"wires":[["d2465210.81b7c"]]},{"id":"38d4006a.879bf","type":"debug","z":"471b09d1.9c6ea8","name":"","active":true,"console":"false","complete":"true","x":512,"y":530,"wires":[]},{"id":"5cc87a46.b2ace4","type":"json","z":"471b09d1.9c6ea8","name":"","x":305,"y":530,"wires":[["38d4006a.879bf"]]},{"id":"7feeebf.329db14","type":"udp in","z":"471b09d1.9c6ea8","name":"","iface":"","port":"49904","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":85,"y":530,"wires":[["5cc87a46.b2ace4"]]}]