wiringIOT/BuildResponseParserAndMessageSender.json
[{"id":"f316470a.74b478","type":"subflow","name":"Get Go servers CCTray parsed response","info":"","in":[],"out":[]},{"id":"c83a062b.2e1ea8","type":"http response","z":"f316470a.74b478","name":"","x":576,"y":220,"wires":[]},{"id":"e593f04a.db68","type":"xml","z":"f316470a.74b478","name":"","attr":"","chr":"","x":575.5,"y":99,"wires":[["7fc40b35.47a054"]]},{"id":"326348f.e8f89b8","type":"file in","z":"f316470a.74b478","name":"","filename":"cctray.xml","format":"utf8","x":400,"y":99,"wires":[["e593f04a.db68"]]},{"id":"4f81f38f.5f6bbc","type":"http in","z":"f316470a.74b478","name":"","url":"/go/cctray.xml","method":"get","swaggerDoc":"","x":191,"y":99,"wires":[["326348f.e8f89b8"]]},{"id":"7fc40b35.47a054","type":"function","z":"f316470a.74b478","name":"buildServerResponseParser","func":"var isNull = function(obj) {\n    return (obj === null || obj === undefined || obj === \"\");\n};\n\nif (isNull(msg) || isNull(msg.payload) || isNull(msg.payload.Projects) || isNull(msg.payload.Projects.Project)) {\n    return [];\n}\n\n// TODO get pipeline names, ipAddresses and portNumbers from DB\nvar pipelineNames = [\"OnlineCustomers\", \"Dev1-PodBAU\"];\nvar ipAddresses = [\"127.0.0.1\", \"127.0.0.1\"];\nvar portNumbers = [49903, 49904];\nvar index = 0;\n\nvar payload = [];\npipelineNames.forEach(function(pipelineToMonitor) {\n    var buildLightColor = \"green\";\n    msg.payload.Projects.Project.forEach(function(project) {\n        var pipelineName = project.$.name;\n        if (pipelineName.indexOf(pipelineToMonitor) === 0) {\n            if (buildLightColor === \"green\") { //TODO remove this green check if and add the break in the below if statements\n                if (project.$.activity === \"Building\") {\n                    buildLightColor = \"blue\";\n                } else if (project.$.activity === \"Sleeping\" && project.$.lastBuildStatus === \"Failure\") {\n                    buildLightColor = \"red\";\n                }\n            }\n        }\n    });\n    payload.push(\n        {\"ip\": ipAddresses[index], \"port\": portNumbers[index], \"colorCode\": buildLightColor}\n    );\n    index++;\n});\n\nmsg.payload = payload;\n// [\n//         {\"ip\": \"127.0.0.1\", \"port\": 49903, \"colorCode\": \"green\"},\n//         {\"ip\": \"127.0.0.1\", \"port\": 49904, \"colorCode\": \"red\"}\n//     ];\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":220,"wires":[["c83a062b.2e1ea8"]]},{"id":"94f131bd.f47cc","type":"udp out","z":"471b09d1.9c6ea8","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":654,"y":300,"wires":[]},{"id":"e9481b33.b17268","type":"json","z":"471b09d1.9c6ea8","name":"","x":497.5,"y":300,"wires":[["94f131bd.f47cc"]]},{"id":"4e20ba0a.f40ef4","type":"function","z":"471b09d1.9c6ea8","name":"optimiseMessage","func":"msg.ip=msg.payload.ip;\nmsg.port=msg.payload.port;\n//msg.colorCode=msg.payload.colorCode;\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":300,"wires":[["e9481b33.b17268"]]},{"id":"39e490f2.7bb3c","type":"http request","z":"471b09d1.9c6ea8","name":"Request to get build status","method":"GET","ret":"obj","url":"http://127.0.0.1:1880/go/cctray.xml","tls":"","x":540,"y":140,"wires":[["583bf259.d1c2cc"]]},{"id":"afe78668.3998c8","type":"inject","z":"471b09d1.9c6ea8","name":"Trigger for build status request","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":false,"x":195,"y":140,"wires":[["39e490f2.7bb3c"]]},{"id":"8986d31c.82f07","type":"debug","z":"471b09d1.9c6ea8","name":"","active":true,"console":"false","complete":"true","x":555,"y":438,"wires":[]},{"id":"d2465210.81b7c","type":"json","z":"471b09d1.9c6ea8","name":"","x":336,"y":439,"wires":[["8986d31c.82f07"]]},{"id":"c4d0db09.5eb288","type":"udp in","z":"471b09d1.9c6ea8","name":"","iface":"","port":"49903","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":118,"y":440,"wires":[["d2465210.81b7c"]]},{"id":"38d4006a.879bf","type":"debug","z":"471b09d1.9c6ea8","name":"","active":true,"console":"false","complete":"true","x":556,"y":521,"wires":[]},{"id":"5cc87a46.b2ace4","type":"json","z":"471b09d1.9c6ea8","name":"","x":339,"y":521,"wires":[["38d4006a.879bf"]]},{"id":"7feeebf.329db14","type":"udp in","z":"471b09d1.9c6ea8","name":"","iface":"","port":"49904","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":119,"y":521,"wires":[["5cc87a46.b2ace4"]]},{"id":"fac309d0.1f2898","type":"subflow:f316470a.74b478","z":"471b09d1.9c6ea8","x":364.5,"y":59,"wires":[]},{"id":"583bf259.d1c2cc","type":"splitter","z":"471b09d1.9c6ea8","name":"","property":"payload","x":105.5,"y":300,"wires":[["4e20ba0a.f40ef4"]]}]