wiringIOT/cctrayResponseSubflow.json
[{"id":"c83a062b.2e1ea8","type":"http response","z":"f316470a.74b478","name":"","x":576,"y":220,"wires":[]},{"id":"7fc40b35.47a054","type":"function","z":"f316470a.74b478","name":"buildServerResponseParser","func":"var isNull = function(obj) {\n    return (obj === null || obj === undefined || obj === \"\");\n};\n\nif (isNull(msg) || isNull(msg.payload) || isNull(msg.payload.Projects) || isNull(msg.payload.Projects.Project)) {\n    return [];\n}\n\nmsg.payload.Projects.Project.forEach(function(project) {\n    console.log(project.$.name);\n});\n\nmsg.payload = [\n        {\"ip\": \"127.0.0.1\", \"port\": 49903, \"colorCode\": \"green\"},\n        {\"ip\": \"127.0.0.1\", \"port\": 49904, \"colorCode\": \"red\"}\n    ];\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":220,"wires":[["c83a062b.2e1ea8"]]},{"id":"e593f04a.db68","type":"xml","z":"f316470a.74b478","name":"","attr":"","chr":"","x":575.5,"y":99,"wires":[["7fc40b35.47a054"]]},{"id":"326348f.e8f89b8","type":"file in","z":"f316470a.74b478","name":"","filename":"cctray.xml","format":"utf8","x":400,"y":99,"wires":[["e593f04a.db68"]]},{"id":"4f81f38f.5f6bbc","type":"http in","z":"f316470a.74b478","name":"","url":"/go/cctray.xml","method":"get","swaggerDoc":"","x":191,"y":99,"wires":[["326348f.e8f89b8"]]}]