wiringIOT/cctrayResponseSubflow.json
[
  {
    "id": "c83a062b.2e1ea8",
    "type": "http response",
    "z": "f316470a.74b478",
    "name": "",
    "x": 576,
    "y": 220,
    "wires": []
  },
  {
    "id": "e593f04a.db68",
    "type": "xml",
    "z": "f316470a.74b478",
    "name": "",
    "attr": "",
    "chr": "",
    "x": 575.5,
    "y": 99,
    "wires": [
      [
        "7fc40b35.47a054"
      ]
    ]
  },
  {
    "id": "326348f.e8f89b8",
    "type": "file in",
    "z": "f316470a.74b478",
    "name": "",
    "filename": "cctray.xml",
    "format": "utf8",
    "x": 400,
    "y": 99,
    "wires": [
      [
        "e593f04a.db68"
      ]
    ]
  },
  {
    "id": "4f81f38f.5f6bbc",
    "type": "http in",
    "z": "f316470a.74b478",
    "name": "",
    "url": "/go/cctray.xml",
    "method": "get",
    "swaggerDoc": "",
    "x": 191,
    "y": 99,
    "wires": [
      [
        "326348f.e8f89b8"
      ]
    ]
  },
  {
    "id": "7fc40b35.47a054",
    "type": "function",
    "z": "f316470a.74b478",
    "name": "buildServerResponseParser",
    "func": "var isNull = function(obj) {\n    return (obj === null || obj === undefined || obj === \"\");\n};\n\nif (isNull(msg) || isNull(msg.payload) || isNull(msg.payload.Projects) || isNull(msg.payload.Projects.Project)) {\n    return [];\n}\n\n// TODO get pipeline names, ipAddresses and portNumbers from DB\nvar pipelineNames = [\"OnlineCustomers\", \"Dev1-PodBAU\"];\nvar ipAddresses = [\"127.0.0.1\", \"127.0.0.1\"];\nvar portNumbers = [49903, 49904];\nvar index = 0;\n\nvar payload = [];\npipelineNames.forEach(function(pipelineToMonitor) {\n    var buildLightColor = \"green\";\n    msg.payload.Projects.Project.forEach(function(project) {\n        var pipelineName = project.$.name;\n        if (pipelineName.indexOf(pipelineToMonitor) === 0) {\n            if (buildLightColor === \"green\") { //TODO remove this green check if and add the break in the below if statements\n                if (project.$.activity === \"Building\") {\n                    buildLightColor = \"blue\";\n                } else if (project.$.activity === \"Sleeping\" && project.$.lastBuildStatus === \"Failure\") {\n                    buildLightColor = \"red\";\n                }\n            }\n        }\n    });\n    payload.push(\n        {\"ip\": ipAddresses[index], \"port\": portNumbers[index], \"colorCode\": buildLightColor}\n    );\n    index++;\n});\n\nmsg.payload = payload;\n// [\n//         {\"ip\": \"127.0.0.1\", \"port\": 49903, \"colorCode\": \"green\"},\n//         {\"ip\": \"127.0.0.1\", \"port\": 49904, \"colorCode\": \"red\"}\n//     ];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 222,
    "y": 220,
    "wires": [
      [
        "c83a062b.2e1ea8"
      ]
    ]
  }
]