wiringIOT/DeviceRegistry.json
[
  {
    "id": "e6a4f23c.eb9ec",
    "type": "udp in",
    "z": "2750c081.03afc",
    "name": "",
    "iface": "",
    "port": "9001",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 207,
    "y": 100,
    "wires": [
      [
        "5b4677ed.cfd058"
      ]
    ]
  },
  {
    "id": "afae8b72.b0ba68",
    "type": "function",
    "z": "2750c081.03afc",
    "name": "prepare entry",
    "func": "\nvar isNull = function(obj) {\n\treturn (obj === null || obj === undefined || obj === \"\");\n};\n\nvar devices = msg.devices;\nvar macInfo = msg.macInfo;\nvar mac = macInfo.substring(0, macInfo.indexOf(':'));\nvar pipeline = '';\n\nif (!isNull(devices) && !isNull(devices[mac]) && !isNull(devices[mac].pipeline)) {\n\tpipeline = devices[mac].pipeline;\n}\n\nmsg.payload = {\n    'mac':mac,\n    'ip':msg.ip,\n    'port':msg.port,\n    'pipeline':pipeline,\n    'lastMessage':msg.payload.substring(macInfo.indexOf(':')+1),\n    'lastSeen':new Date()\n};\nmsg.datapath = '/devices/' + mac;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 531,
    "y": 240,
    "wires": [
      [
        "62f3550a.5193cc",
        "915df3f9.a6e81"
      ]
    ]
  },
  {
    "id": "62f3550a.5193cc",
    "type": "DataIn",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "save DB",
    "update": false,
    "path": "/",
    "x": 806,
    "y": 300,
    "wires": []
  },
  {
    "id": "4fd7223c.b50ccc",
    "type": "http in",
    "z": "2750c081.03afc",
    "name": "",
    "url": "/devices",
    "method": "get",
    "swaggerDoc": "",
    "x": 218,
    "y": 495,
    "wires": [
      [
        "6eea54f.9bdccac"
      ]
    ]
  },
  {
    "id": "6eea54f.9bdccac",
    "type": "DataOut",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "load DB",
    "path": "/",
    "error": false,
    "x": 426,
    "y": 495,
    "wires": [
      [
        "314372f7.f12a2e"
      ]
    ]
  },
  {
    "id": "314372f7.f12a2e",
    "type": "function",
    "z": "2750c081.03afc",
    "name": "HTTP headers",
    "func": "msg.headers={'Content-type':'application/json'}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 627,
    "y": 495,
    "wires": [
      [
        "3bf768a4.584a78"
      ]
    ]
  },
  {
    "id": "3bf768a4.584a78",
    "type": "http response",
    "z": "2750c081.03afc",
    "name": "",
    "x": 816,
    "y": 495,
    "wires": []
  },
  {
    "id": "915fc02.e8e5b4",
    "type": "comment",
    "z": "2750c081.03afc",
    "name": "Process UDP beakon from device",
    "info": "",
    "x": 220,
    "y": 44,
    "wires": []
  },
  {
    "id": "cbb203fb.8cf34",
    "type": "comment",
    "z": "2750c081.03afc",
    "name": "REST GET all devices",
    "info": "",
    "x": 180,
    "y": 445,
    "wires": []
  },
  {
    "id": "10762e70.3826e2",
    "type": "comment",
    "z": "2750c081.03afc",
    "name": "Clear DB",
    "info": "",
    "x": 140,
    "y": 566,
    "wires": []
  },
  {
    "id": "f1c948e6.dce0c8",
    "type": "inject",
    "z": "2750c081.03afc",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 233,
    "y": 615,
    "wires": [
      [
        "c1f5cc77.0f3dc"
      ]
    ]
  },
  {
    "id": "571c4b17.21ddd4",
    "type": "DataIn",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "save DB",
    "update": false,
    "path": "/",
    "x": 806,
    "y": 615,
    "wires": []
  },
  {
    "id": "c1f5cc77.0f3dc",
    "type": "function",
    "z": "2750c081.03afc",
    "name": "empty payload",
    "func": "msg.payload={};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 508,
    "y": 615,
    "wires": [
      [
        "571c4b17.21ddd4"
      ]
    ]
  },
  {
    "id": "43b6b155.5ec99",
    "type": "comment",
    "z": "2750c081.03afc",
    "name": "Send 'tickle' UDP to all devices",
    "info": "",
    "x": 204,
    "y": 696,
    "wires": []
  },
  {
    "id": "e7766738.13daf8",
    "type": "inject",
    "z": "2750c081.03afc",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 233,
    "y": 737,
    "wires": [
      [
        "b5537224.05c87"
      ]
    ]
  },
  {
    "id": "b5537224.05c87",
    "type": "DataOut",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "load DB",
    "path": "/",
    "error": false,
    "x": 388,
    "y": 737,
    "wires": [
      [
        "9afad1f.a37083"
      ]
    ]
  },
  {
    "id": "544f4ad4.961b44",
    "type": "udp out",
    "z": "2750c081.03afc",
    "name": "",
    "addr": "",
    "iface": "",
    "port": "",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "false",
    "x": 739,
    "y": 806,
    "wires": []
  },
  {
    "id": "9afad1f.a37083",
    "type": "function",
    "z": "2750c081.03afc",
    "name": "iterate through all device and send them black color",
    "func": "for(var mac in msg.payload){\n    var dev = msg.payload[mac];\n    var tickleMessage = {\n        'ip':dev.ip, \n        'port':dev.port,\n        'payload':'black'\n    };\n    node.send(tickleMessage);\n}\n// drop original message\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 688,
    "y": 737,
    "wires": [
      [
        "544f4ad4.961b44"
      ]
    ]
  },
  {
    "id": "656c8358.66b89c",
    "type": "http in",
    "z": "2750c081.03afc",
    "name": "Assign pipeline to Device",
    "url": "/devices",
    "method": "post",
    "swaggerDoc": "",
    "x": 257,
    "y": 371,
    "wires": [
      [
        "fc1735bb.6e8b78"
      ]
    ]
  },
  {
    "id": "3e5d6011.e3ded",
    "type": "DataIn",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "save DB",
    "update": false,
    "path": "/",
    "x": 806,
    "y": 371,
    "wires": []
  },
  {
    "id": "fc1735bb.6e8b78",
    "type": "function",
    "z": "2750c081.03afc",
    "name": "prepare entry",
    "func": "msg.datapath = '/devices/' + msg.payload.mac + '/pipeline';\nmsg.payload = msg.payload.pipelineName;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 531,
    "y": 371,
    "wires": [
      [
        "3e5d6011.e3ded"
      ]
    ]
  },
  {
    "id": "c606ceda.b97f2",
    "type": "change",
    "z": "2750c081.03afc",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "devices",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 228.5,
    "y": 240,
    "wires": [
      [
        "afae8b72.b0ba68"
      ]
    ]
  },
  {
    "id": "13cb74e5.c7f84b",
    "type": "DataOut",
    "z": "2750c081.03afc",
    "collection": "7a3e3999.e05bc8",
    "name": "Get devices",
    "path": "/devices",
    "error": false,
    "x": 797,
    "y": 100,
    "wires": [
      [
        "c606ceda.b97f2"
      ]
    ]
  },
  {
    "id": "5b4677ed.cfd058",
    "type": "change",
    "z": "2750c081.03afc",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "macInfo",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 486,
    "y": 100,
    "wires": [
      [
        "13cb74e5.c7f84b"
      ]
    ]
  },
  {
    "id": "915df3f9.a6e81",
    "type": "websocket out",
    "z": "2750c081.03afc",
    "name": "/ws/test out",
    "server": "d7ea11d5.5012e",
    "client": "",
    "x": 796,
    "y": 179,
    "wires": []
  },
  {
    "id": "7a3e3999.e05bc8",
    "type": "json-db-collection",
    "z": "2750c081.03afc",
    "name": "bbl",
    "collection": "devices",
    "save": true
  },
  {
    "id": "d7ea11d5.5012e",
    "type": "websocket-listener",
    "z": "4a13e7e2.8b5538",
    "path": "/ws/test",
    "wholemsg": "false"
  }
]