wiringIOT/flows_localhost.json
[{"id":"553b6715.4b2e28","type":"tab","label":"Flow 1"},{"id":"8e5b59e8.a121f8","type":"websocket-listener","z":"553b6715.4b2e28","path":"/ws/test","wholemsg":"false"},{"id":"cfde3172.2b988","type":"tls-config","z":"553b6715.4b2e28","name":"NBN certificate","cert":"NBN Co Medium Assurance Intermediate CA.pem","key":"privatekey.pem","ca":"","verifyservercert":false},{"id":"ae01e10f.d83d4","type":"http in","z":"553b6715.4b2e28","name":"","url":"/web/*","method":"get","swaggerDoc":"","x":102,"y":44,"wires":[["dda61916.19aab8"]]},{"id":"82c190e1.c97ca","type":"http response","z":"553b6715.4b2e28","name":"","x":641,"y":41,"wires":[]},{"id":"f8a1e9b7.59c298","type":"file in","z":"553b6715.4b2e28","name":"","filename":"","format":"utf8","x":476,"y":43,"wires":[["82c190e1.c97ca"]]},{"id":"dda61916.19aab8","type":"function","z":"553b6715.4b2e28","name":"","func":"msg.filename = msg.req.url.replace(\"/web/\", \"./web/\");\nreturn msg;","outputs":1,"noerr":0,"x":299.9999694824219,"y":46,"wires":[["f8a1e9b7.59c298"]]},{"id":"e3253205.b8f99","type":"catch","z":"553b6715.4b2e28","name":"","scope":null,"x":89.83332824707031,"y":499.0000305175781,"wires":[["2af60e3c.f3ead2"]]},{"id":"2af60e3c.f3ead2","type":"debug","z":"553b6715.4b2e28","name":"","active":true,"console":"false","complete":"true","x":229.83334350585938,"y":510.0000305175781,"wires":[]},{"id":"af0da38a.91777","type":"websocket out","z":"553b6715.4b2e28","name":"/ws/test out","server":"8e5b59e8.a121f8","client":"","x":712.6666259765625,"y":376.66668701171875,"wires":[]},{"id":"2d655727.6b8c48","type":"inject","z":"553b6715.4b2e28","name":"beacon ABCDEF","topic":"","payload":"{\"mac\":\"ABCDEF\",\"ip\":\"127.0.0.1\", \"pipeline\":\"OnlineCustomers\", \"firmware\":\"strip\", \"version\":\"0.0.0\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":346.6666259765625,"y":338.66668701171875,"wires":[["af0da38a.91777"]]},{"id":"bf19d975.a892d8","type":"inject","z":"553b6715.4b2e28","name":"","topic":"","payload":"{'a':123}","payloadType":"str","repeat":"","crontab":"","once":false,"x":338.94793701171875,"y":429.65972900390625,"wires":[["af0da38a.91777"]]},{"id":"93ebe5ec.fcb9f8","type":"inject","z":"553b6715.4b2e28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":362.94793701171875,"y":472.7708435058594,"wires":[["c78fcf9c.c14d9"]]},{"id":"c78fcf9c.c14d9","type":"function","z":"553b6715.4b2e28","name":"delete msg session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":535.9479370117188,"y":490.625,"wires":[["af0da38a.91777"]]},{"id":"8b29c0ca.91f59","type":"http in","z":"553b6715.4b2e28","name":"","url":"/proxy*","method":"get","swaggerDoc":"","x":99,"y":138,"wires":[["4c6f6848.6314e8"]]},{"id":"326223b5.62465c","type":"http response","z":"553b6715.4b2e28","name":"","x":655,"y":134,"wires":[]},{"id":"7b657545.42589c","type":"http request","z":"553b6715.4b2e28","name":"","method":"GET","ret":"txt","url":"","tls":"cfde3172.2b988","x":476,"y":135,"wires":[["326223b5.62465c"]]},{"id":"4c6f6848.6314e8","type":"function","z":"553b6715.4b2e28","name":"url","func":"msg.url=msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":138,"wires":[["7b657545.42589c"]]},{"id":"9acde221.7044c","type":"http in","z":"553b6715.4b2e28","name":"","url":"/ajax","method":"get","swaggerDoc":"","x":96,"y":193,"wires":[[]]},{"id":"6940ab86.3ba004","type":"inject","z":"553b6715.4b2e28","name":"","topic":"","payload":"mac2:some_message_2","payloadType":"str","repeat":"","crontab":"","once":false,"x":165,"y":278,"wires":[["8d0e4805.dd69b8"]]},{"id":"8d0e4805.dd69b8","type":"udp out","z":"553b6715.4b2e28","name":"","addr":"10.36.179.157","iface":"","port":"9001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":411,"y":281,"wires":[]},{"id":"2732918a.91739e","type":"inject","z":"553b6715.4b2e28","name":"beackon 123456","topic":"","payload":"{\"mac\":\"a123456\",\"ip\":\"127.0.0.2\", \"project\":\"BBL\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":351,"y":383,"wires":[["af0da38a.91777"]]}]